script(src="libs/jquery/jquery.min.js")
script(src="libs/jquery-custom-scrollbar/jquery.custom-scrollbar.js")
script(src="libs/jquery.nicescroll.js")

//- script(src="libs/custom-scroll/jquery.custom-scroll.js")

block scripts
script(src="js/main.js")
script(src="js/input.js")
script(src="js/filter-menu.js")
script(src="js/city-selector.js")
script(src="js/accordeon.js")
script(src="js/modal-window.js")
script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
