.section-catalog {
	padding-left: 8px;
	padding-right: 8px;
}
.catalog-filter {
	position: fixed;
	overflow-y: auto;
	z-index: 1001;
	background-color: @white;
	top: 0;
	left: -200vw;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	


	@media @tablet {
		height: 100%;
		// overflow-y: scroll;
		width: 270px;
		box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.2);
	}
	@media @desktop {
		box-shadow: none;
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-basis: 270px;
		width: 100%;
		left: 0;
		top: 0;
		transition: none;
		overflow: hidden;
		z-index: 1;
	}
}
.form-filter {
	width: 100%;
	@media @desktop {
		display: block;
		margin-left: 8px;
	}
}
.catalog-wrapper {
	@media @desktopXL {
		margin-right: 37px;
	}
}
.catalog-filters {
	display: flex;
	// position: relative;
	justify-content: space-between;
	&__title {
		padding-left: 30px;
		position: relative;
		cursor: pointer;
		&:before {
			position: absolute;
			content: url('../img/icons/filter-icon.svg');
			left: 7px;
			cursor: pointer;
		}
		@media @tablet {
			flex-basis: 60%;
		}
		@media @desktop {
				display: none;
			}
	}
	@media @desktop {
		justify-content: space-between;
	}
}
.catalog-filters-small__title {
	margin-left: auto;
}
.catalog {
	padding-bottom: @l3;
	@media @tablet {
		max-width: 100%!important;
	}
	@media @desktop {
		margin-top: 29px;
		padding-left: 16px;
		padding-bottom: 41px;
	}
	@media @desktopXL {
		padding-bottom: 48px;
		padding-left: 49px;
	}
}
.catalog-paginator {
	margin-bottom: 32px;
	@media @desktop {
		margin-bottom: 41px;
		margin-top: 15px;
	}
	@media @desktopXL {
		margin-bottom: 48px;
		margin-top: 46px;
	}
}
.catalog-filter--show {
	display: flex;
	left: 0;
	transition: all 0.5s;
	@media @desktop {
		transition: none;
	}
}
.catalog__title{
	text-align: center;
	&-count {
		color: @gray;
	}
}
.catalog__title-description {
	display: none;
	@media @desktop {
		display: block;
		line-height: 23px;
		font-size: 18px;
		text-align: center;
		letter-spacing: 0.01em;
		color: @text-light-grey;
		width: 888px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 52px;
	}
}
.catalog-badge {
	display: none;
	@media @desktop {
		display: flex;
		justify-content: center;
		padding-bottom: 47px;
	}
}
.catalog-filters__badge {
	display: none;
	width: 80%;
	@media @desktop {
		display: block;
	}
}
.catalog-filters__badge-item {
	@media @desktop {
		margin-bottom: 16px;
		&:hover {
			color: @text-light-grey;
			text-decoration: none;
		}
		&:not(:last-child) {
			margin-right: 16px;
		}
		&:last-child {
			margin-bottom: 45px;
		}
	}
}
.catalog-badge__item {
	@media @desktop {
		&:not(:first-child) {
			margin-left: 16px;
		}
	}
}
// .catalog-filters-small__title {
// 	z-index: 1;
// }