.page404-wrapper {
	position: fixed;
	top: 112px;
	bottom: 0;
	width: 100%;
	padding-top: 44px;
	background-color: @bgc-404;
	@media @tablet {
		padding-top: 155px;
	}
	@media @desktop {
		padding-top: 49px;
		top: 195px;
	}
}
.svg-container {
	display: inline-block;
	position: relative;
	// height:auto;
	width: 100%;	
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.page404__title {
	line-height: 1;
	font-size: 32px;
	text-align: center;
	letter-spacing: 0.05em;
	color: @text-light-grey;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 16px;
	@media @tablet {
		padding-top: 25px;
	}
	@media @desktop {
		font-size: 40px;
	}
}
.page404__subtitle {
	line-height: 1.5;
	font-size: 16px;
	text-align: center;
	color: @text-light-grey;
	border-bottom: 1px solid transparent;
	@media @tablet {
		width: 336px;
	}
	@media @desktop {
		font-size: 20px;
		width: 437px;
	}
}
.page404__subtitle-link {
	border-bottom: 1px solid #58595B;
	color: @text-light-grey;
	&:hover {
		color: @text-light-grey;
		border-bottom: none;
		text-decoration: none;
	}
}
.page404__text-wrapper {
	width: 311px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@media @desktop {
		width: 430px;
		margin-top: 0;
	}
}
svg.ldi-f17d8n {
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media @desktop {
    	width: 420px;
    }
}