.contacts{
	width: 100%;
	font-size: 14px;
	color: @contacts-text;
}
.contacts-block{
	margin-bottom: 24px;
	.mixin-margin(bottom,@l3);
	width: 100%;
}
.subtitle-block{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 16px;
}
.contacts-title{
	font-size: 18px;
	margin-bottom: 16px;
	text-align: left;
	@media @desktop{font-size: 20px;}
}
.contacts-text{margin-right: 24px;}
.contacts-text--large{font-size: 16px;}
.contacts-link{
	color: @contacts-text;
	font-weight: 500;
	border-bottom: 1px solid @contacts-text; 	
}
.contacts-link:hover{
	color: @text-red;
	text-decoration: none;
	border-bottom-color: @text-red;
}
.contacts input {
	margin-bottom: 8px;
}
.contacts-address{
	position: relative;
	padding-left: 15px;
}
.contacts-address:before{
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	left: 0;
	top: 4px;
	background-image: url('../../img/icons/marker-black.svg');
	background-position: center;
	background-size: cover;
}
.contacts-link--notbold{
	font-weight: 300;
}
.contacts-link--active{
	border-bottom: 0px;
}
.contacts-block--border{
	border: 1px solid @border-passive;
	padding: 12px;
	margin-bottom: 9px;
	@media @tablet{padding: 16px;}
}
.contacts-block--border:last-child{border-bottom: 16px;}

.contacts-block--active{
	border-color: @textMenu;
}
.pickup-points{
	margin-bottom: 10px;
}
.delivery-info{
	color: @border-passive;
}
.add-comments{
	display: inline-block;
	color:@textMenu;;
	margin-right: 8px;
	margin-bottom: 8px;
	font-size: 10px;
	font-weight: 300;
}
.comments-field{
	resize: none;
	width: 100%;
	height: 88px;
	font-size: 14px;
	color:@textMenu;
}
.form-group-user-address{
	margin-right: -4px;
	margin-left: -4px;
	@media @tablet{
		margin-right: -8px;
		margin-left: -8px;
	}
}
.payment-type {
	position: relative;
	cursor: pointer;
	padding: 16px;
	border: 1px solid @border-passive;
	margin-bottom: 8px;
	
	& p{
		margin: 0;
		padding: 0;
		display: inline-block;
		padding-left: 40px;
	}
}
.payment-type:before{
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	top: 8px;
	left: 16px;
	
}
.payment-type-card:before{
	
	background: url('../../img/icons/credit-card.svg') no-repeat center;
}
.payment-type--active{
	border-color: @textMenu;
	color:@textMenu;
}
.payment-type:last-child{
	margin-bottom: 0;
}
.contacts-block-footer{
	margin-top: 8px;
	text-align: center;	
}
.contacts-block-footer a{
	font-weight: 300;
}
.contacts-text-small{
	font-size: 12px;
	@media @desktop {font-size: 14;}
}