.contacts{
	width: 100%;
	font-size: 14px;
	color: @contacts-text;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 30px;

	@media @tablet{
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 8px;}
	@media @desktop{
		font-size: 16px;
		}
	@media @desktopXL{
		font-size: 18px;
		}
	
}
.contacts-block{
	margin-bottom: 24px;
	.mixin-margin(bottom,@l3);
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}
}
.subtitle-block{
	width: 100%;
	display: flex;
	position:relative;
	flex-wrap: nowrap;
	align-items: center;
	.mixin-margin(bottom,@l1);	
}
.subtitle-block--justify{
	justify-content: space-between;
}
.contacts-title{
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: 4px;
	text-align: left;
	@media @desktop{font-size: 20px;}
	@media @desktopXL{
		margin-bottom: 10px;
		font-size: 24px;}
}
.contacts-text{margin-right: 24px;}
.contacts-text--large{
	font-weight: 600;
	
}
.contacts-link{
	color: @contacts-text;
	font-weight: 600;
	border-bottom: 1px solid @contacts-text; 
	line-height: 1.3;	
}
.contacts-link:hover{
	color: @text-red;
	text-decoration: none;
	border-bottom-color: @text-red;
}
// .contacts input {
// 	margin-bottom: 8px;
// 	@media @desktop{margin-bottom: 16px;}
// }
.contacts-address{
	position: relative;
	padding-left: 15px;
}
.contacts-address:before{
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	left: 0;
	top: 4px;
	background-image: url('../../img/icons/marker-black.svg');
	background-position: center;
	background-size: cover;
	@media @desktop{
		width: 14px;
		height: 14px;
		top: 2px;
	}
}
.contacts-link--notbold{
	font-weight: 300;
	font-size: 14px;
}
.contacts-link--active{
	border-bottom: 0px;
}
.contacts-block--border{
	border: 1px solid @border-passive;
	padding: 12px;
	margin-bottom: 8px;
	cursor: pointer;
	@media @tablet{padding: 16px;}
	@media @desktop{margin-bottom: 16px;}
}
.contacts-block--border:last-child{border-bottom: 16px;}

.contacts-block--active{
	border-color: @textMenu;
}
.pickup-points{
	margin-bottom: 10px;
	letter-spacing: -0.5px;
	
	@media @tablet{letter-spacing: 0px}
	@media @desktop{font-size: 16px;}
}
.delivery-info{
	color: @border-passive;
	font-size: 12px;
	line-height: 1.3;
	@media @desktop{font-size: 14px;}
	@media @desktopXL{font-size: 16px;}

}
.delivery-comments{
	position: relative;
}
.delivery-comments--link{
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 8px;
	@media @desktop {margin-bottom: 16px;}
	&:hover{
		color:@border-passive;
		border-bottom-color:@border-passive;
	}
}
.icon-comments{
	position: absolute;
	top: 5px;
	left: 0;
	width: 12px;
	height: 12px;
	cursor:pointer;	
}
.icon-comments--plus{background: url('../../img/icons/plus.svg') no-repeat center center;}	

.icon-comments--minus{background: url('../../img/icons/minus.svg') no-repeat center center;} 

.comments-field{
	display: none;
	
	textarea {
		resize: none;
		width: 100%;
		height: 88px;
		font-size: 14px;
		color:@textMenu;
		outline: none;
		padding: 16px;
	}
}
.comments-field:focus{border-color:@textMenu;}
.form-group-user-address{
	display: none;
	margin-right: -4px;
	margin-left: -4px;
	margin-bottom: 16px;
	@media @tablet{
		margin-right: -8px;
		margin-left: -8px;
	}
	@media @desktopXL{
		margin-right: -12px;
		margin-left: -12px;
	}
}
.payment-type {		
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 16px;
	border: 1px solid @border-passive;
	margin-bottom: 8px;
	@media @desktop {margin-bottom: 16px;}
	
	& p{
		margin: 0;
		padding: 0;
	}
}
.paiment-icon {
	width: 30px !important;
	height: 30px;
	margin-right: 16px;	
	fill: @border-passive;	
}
.payment-type--active .paiment-icon {
	fill: @textMenu;	
}
.payment-type--active{
	border-color: @textMenu;
	color:@textMenu;
}
.payment-type:last-child{
	margin-bottom: 0;
}
.contacts-block-footer{
	margin-top: 8px;
	text-align: center;	
	@media @desktop {margin-top: 16px;}
}
.contacts-block-footer a{
	font-weight: 300;
}
.contacts-text-small{
	font-size: 12px;
	@media @desktop {font-size: 14px;}
}
// .contacts .contacts-info .input-field__error-text{
// 	margin-top: -5px;
// 	@media @desktop {
// 	margin-top: -15px;}
// }