@border-input-radius: 4px;
.footer-subscribe {
	display: flex;
	flex-direction: column;
	padding-top: 48px;
	padding-bottom: 44px;

	@media @tablet {
		padding-top: 48px;
		padding-bottom: 64px;
	}
	@media @desktop {
		padding-top: 56px;
		padding-bottom: 64px;
	}
	@media @desktopXL {
		padding-top: 64px;
		padding-bottom: 96px;
	}
	

	&--input {
		position: relative;
		display: inline-block;
		height: 40px;
		padding-left: 15px;
		line-height: 0.8;
		font-size: 14px;
		color: @active-checkbox;
		padding-top: 0;
		padding-bottom: 0;
		float: left;
		outline: none;
		border: 1px solid @gray;
		line-height: 18px;
		&:after {
			display: block;
			clear: both;
		}
		&:focus {
			border: 1px solid @active-checkbox;
		}
	}
	&--border {
		border-radius: @border-input-radius;
	}
}

@media @tablet {
	.footer-subscribe {
		align-items: flex-start;		
	}
}
.footer-subscribe--form {
	align-self: center;

	label {
		margin:0;
	}
	p {
		margin: 0;
	}
}
@media @tablet {
	.footer-subscribe--form {
		align-self: flex-start;
		width: 100%;	
	}
}
.footer-subscribe--input {
	transition: 0.2s ease-in;
}
.footer-subscribe-wrapper {
	display: flex;
}
@media @tablet {
	.footer-subscribe-wrapper {
		width: 100%;
	}
	.footer-subscribe--input {
		width: 70%;
	}
}
.footer-subscribe--buttons {
	display: flex;
}
.button-subscribe {
	margin-left: 8px;
}
.footer-subscribe--checkbox {
	margin-top: 8px;
}
.footer-bottom .title-4 {
	
}
.title-4.footer-subscribe__slogan{	
	line-height: 1.2;
	//
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	@media @tablet {
		margin: 0 0 16px 0;	
		padding-left: 4%;}
	@media @desktop {padding-left: 7%;}
	@media @desktopXL {padding-left: 10%;}
}