.header-search-section {
	display: none;
	position: relative;
}
.header-search {
	position: absolute;
	width: 100%;
	box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.3);
	z-index: 100;

}
// Строка поиска
.header-search__input {
	height: 56px;
	border: none;
	outline: none;
	line-height: 1;
	font-size: 18px;
	padding: 16px 22px;
	color: @text-light-grey;
	width: 100%;
}

// Обертка для инпута с нижней границей
.wrapper-border-bottom {
	border-bottom: 1px solid #C4C4C4;
}

// Иконка крестик
.header-search__close {
	position: absolute;
	z-index: 200;
	top: 12px;
	right:22px; // Отступ как паддинги у input, чтобы симметрично поставить
	cursor: pointer;
}
.header-search__result {
	display: flex;
	align-items: center;
	padding-left: 22px;
	padding-right: 22px;
	margin-bottom: 12px;

}
.header-search-result-mobile {
	display: none;
	// position:absolute;
	// top:56px; // высота Input блока - строки поиска
	// border-top: 1px solid #C4C4C4;
	// box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.4);
	padding-bottom: 22px;
	padding-top: 17px;
	background-color: @white;
}
@media @desktop {
	.header-search-result-mobile {
		display: none;
	}
}
.header-search__result-img {	
	margin-right: 21px;
	min-width: 66px;
	img {
		margin-left: auto;
		margin-right: auto;
	}
}
.header-search__description {
	line-height: 1;
	font-size: 16px;
	color: @text-light-grey;
}
.devide {
	display: none;
}
@media @desktop {
	.devide {
		display: block;
		width: 100%;
		margin-bottom: 16px;
		margin-top: 10px;
	}
}
.header-search-result {
	display: flex;
}

.header-search-result__category, .header-search-result__goods {
	display: flex;
	-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: @text-red;
}
.header-search-result__goods {
	margin-left: 24px;
	font-weight: 500;
	@media @desktopXL {
		margin-left: 32px;
	}
}
.header-search-result-desktop {
	// position:absolute;
	display: none;
	padding-top: 15px;
	padding-bottom: 22px;
	background-color: @white;

	@media @desktop {
		// display: flex;
		justify-content: flex-start;
		padding-bottom: 22px;
		padding-top: 20px;

	}

}
.header-search-result__link {
	margin-bottom: 6px;
}
.header-search-result__link-item {
	line-height: normal;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: @text-light-grey;
	&:hover, &:focus, &:active {
		color: @text-red;
		text-decoration: none;
		border-bottom: 1px solid @text-red;
	}
}
.header-search-result-img {
	width: 200px;
	margin-left: 90px;

	@media @desktop {
		margin-left: 164px;
	}
}