nav {
	display: flex;	
}

.bg-header-nav {
	display: none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.25);
	// -webkit-filter: blur(3px);
  	// filter: blur(3px);

  	@media @desktop {
		position:static;
		display: block;
		background-color: transparent;
	}	
}

.header-nav {
	position: fixed;
	bottom:0;
	top:0;
	left:-320px;
	z-index: 1000;
						
	font-size: 16px;
	letter-spacing: 0.5px;
	background-color: @white;
	overflow-y: auto;
	transition: all 0.5s;

	@media @desktop {
		overflow-y: visible;
		transition: all 0s;
		display: flex;
		position: static;
	}

	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			text-decoration: none;
			display: block;
			color: @textMenu;
			padding: 12px 16px;

			@media @desktop {
				padding: 8px 16px;
			}
		}
	} // Иконка треугольник
	.menu-icon {
		.icon-mixin(@textMenu, 20px, 15px);
	}
}

// Добавляем/убираем класс через toggle для мобильной версии меню
.mobile-nav-open {
	left:0;
	transition: all 0.5s;
}

// Menu
ul.menu-level-1 {
	display: flex;
	width: 320px;
	flex-direction: column;
	// box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

	@media @desktop {
		flex-direction: row;
		width: 100%;
		box-shadow: none;
	}

	@media @desktopXL {
		font-size: 18px;
	}

	.text-salad {
		color: @text-salad;
	}
	.text-red {
		color: @text-red;
	}
}

ul.menu-level-1>li>a {
	text-transform: uppercase;
	border-bottom: 1px solid @borderMenu;
	transition:color 0.3s;

	@media @desktop {
		border: none;
		padding-right: 40px;
		margin-right: 10px;
		padding-left: 0;

		&:hover {
			color:@text-red;
		}
	}

	&:hover {
		text-decoration: none;
	}
}


// Submenu 1st level

// Обертку добавили, чтобы вынести меню абсолюно относительно header с полной шириной экрана
// при этом чтобы содержимое меню было в контейнере
.menu-level-2-wrapper {
	@media @desktop {
		position: absolute;
		left: 0px;
		bottom:0; // высота градиента
		transform:translateY(100%);
		width: 100%;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

	}
}


ul.menu-level-2 {
	display: none;
	position: static;
	flex-direction: column;
	padding-bottom: 8px;
	background-color: @white;
		
	@media @desktop {
		// position: absolute;
		// left: 0px;
		// bottom:0;
		// transform:translateY(100%);
		flex-direction: row;
		justify-content: flex-start;
		// width: 100%;
		// padding: 16px 62px 36px;
		padding: 16px 0px 36px;
		// box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	}

	@media @desktopXL {
		padding: 16px 0px 48px;
	}
}

ul.menu-level-2>li {

	@media @desktop {
		margin-right: 16px;
	}
	@media @desktopXL {
		margin-right: 32px;
	}

	.line-gradient--menu {
		margin-left: 16px;
		margin-bottom: 8px;

		@media @desktop {
			margin-left: 0;
		}
	}
}

ul.menu-level-2>li>a {
	color: @text-red;

	@media @desktop {
		padding-left: 0px;
		padding-right: 0px;
	}
}

// Убираем иконки на большем разрешении у меню второго уровня
ul.menu-level-2>li>a.menu-icon {
	@media @desktop {
		&::after {
			border: none;
		}
	}
}

// Submenu 2nd level
ul.menu-level-3 {
	display: none;

	@media @desktop {
		display: block;
	}
}

ul.menu-level-3>li>a {
	@media @desktop {
		padding: 2px 0px;
		transition: 0.5s;
	}

	&:hover {
		color: @text-red;
		text-decoration: underline;
		transition: all 0.5s;
	}
}

// Блок поиска в шапке навигация
.search-block {
	display: none;
	margin-left: auto;

	@media @desktop {
		display: flex;
	}
}

.search-block__title {
	font-size: 16px;
	padding-top: 8px;
	margin-right: 24px;

	@media @desktopXL {
		font-size: 18px;
		margin-right: 90px;
	}
}

.search-block__icon {
	padding-top: 8px;
}

// кдасс для вызова блока с поиском
.toggle-search-block {
	cursor: pointer;
}
