.container
	.footer-subscribe
		.title-4 Выбери цвет своей индивидуальности!
		.footer-subscribe--subtitle Будь в курсе новостей и специальных предложениях!
		form.footer-subscribe--form(action="")
			input.footer-subscribe--input.footer-subscribe--border(type="text" placeholder="Email")
			.footer-subscribe--buttons
				+button-she("Она", "#")
				+button-he("Он", "#")
			label.footer-subscribe--checkbox-label
				span.footer-subscribe--checkbox-label-focus Email
				input.footer-subscribe--checkbox(type="checkbox")
				span.footer-subscribe--checkbox-custom
				p.footer-subscribe--checkbox-label-text Я принимаю политику конфиденциальности.