.job-accordeon
	.job-accordeon-item
		.job-accordeon-item__title Менеджер по работе с ключевыми клиентами / г. Москва
			.content-icon
		.job-accordeon-item__content
			ul.content__list
				li Обслуживание покупателей 
				li Осуществление выкладки товара
				li Соблюдение корпоративных стандартов 
				li Соблюдение стандартов выкладки
				li Поддержание порядка на рабочем месте
				li Участие в оформлении торгового зала
				li Выполнение плана продаж 
				li Работа на кассе 
				li Ведение первичной кассовой отчетности 
				li Участие в проведении инвентаризации
			
			.content__list-title Требования
			ul.content__list
				li Активная жизненная позиция 
				li Увлечение модой
				li Опыт работы приветствуется
				li Грамотная речь
				li Опрятный внешний вид
			
			.content__list-title Условия
			ul.content__list
				li 
					|Достойная и стабильная заработная плата 
					br
					|(оклад + премии) 
				li Бесплатное обучение
				li Возможность карьерного роста
				li Сменный график работы
				li Оформление согласно ТК РФ

			+button-apply('Отправить резюме', '#')(class="show-modal-window" data-modal='#job-modal')

	.job-accordeon-item
		.job-accordeon-item__title Продавец - кассир / г. Москва(class="show-modal-window")
			.content-icon
		.job-accordeon-item__content
			.content__list-title Обязанности
			ul.content__list
				li Обслуживание покупателей 
				li Осуществление выкладки товара
				li Соблюдение корпоративных стандартов 
				li Соблюдение стандартов выкладки
				li Поддержание порядка на рабочем месте
				li Участие в оформлении торгового зала
				li Выполнение плана продаж 
				li Работа на кассе 
				li Ведение первичной кассовой отчетности 
				li Участие в проведении инвентаризации
			
			.content__list-title Требования
			ul.content__list
				li Активная жизненная позиция 
				li Увлечение модой
				li Опыт работы приветствуется
				li Грамотная речь
				li Опрятный внешний вид
			
			.content__list-title Условия
			ul.content__list
				li 
					|Достойная и стабильная заработная плата 
					br
					|(оклад + премии) 
				li Бесплатное обучение
				li Возможность карьерного роста
				li Сменный график работы
				li Оформление согласно ТК РФ

			+button-apply('Отправить резюме', '#')(class="show-modal-window" data-modal='#job-modal')

	.job-accordeon-item
		.job-accordeon-item__title Менеджер по работе с ключевыми клиентами / г. Москва
			.content-icon
		.job-accordeon-item__content
			ul.content__list
				li Обслуживание покупателей 
				li Осуществление выкладки товара
				li Соблюдение корпоративных стандартов 
				li Соблюдение стандартов выкладки
				li Поддержание порядка на рабочем месте
				li Участие в оформлении торгового зала
				li Выполнение плана продаж 
				li Работа на кассе 
				li Ведение первичной кассовой отчетности 
				li Участие в проведении инвентаризации
			
			.content__list-title Требования
			ul.content__list
				li Активная жизненная позиция 
				li Увлечение модой
				li Опыт работы приветствуется
				li Грамотная речь
				li Опрятный внешний вид
			
			.content__list-title Условия
			ul.content__list
				li 
					|Достойная и стабильная заработная плата 
					br
					|(оклад + премии) 
				li Бесплатное обучение
				li Возможность карьерного роста
				li Сменный график работы
				li Оформление согласно ТК РФ

			+button-apply('Отправить резюме', '#')(class="show-modal-window" data-modal='#job-modal')