//- шапка вверх
.header-info
	.container
		.row.justify-content-between.align-items-center
			.col-6.col-lg-4.d-flex
				.header-info__block.d-flex
					svg.header-info__icon( width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg")
						<rect width="8" height="11.4545" fill="black" fill-opacity="0"/>
						<rect width="8" height="11.4545" fill="black" fill-opacity="0"/>
						<rect width="8" height="11.4545" fill="black" fill-opacity="0"/>
						<path d="M4 0C1.7944 0 0 1.80651 0 4.02699C0 4.77722 0.206422 5.50937 0.597089 6.14456L3.77231 11.2959C3.83313 11.3946 3.94029 11.4545 4.05553 11.4545C4.05642 11.4545 4.05729 11.4545 4.05818 11.4545C4.17442 11.4536 4.2818 11.3918 4.34151 11.2914L7.4358 6.09015C7.80491 5.46838 8 4.75496 8 4.02699C8 1.80651 6.2056 0 4 0ZM6.86369 5.74557L4.05049 10.4743L1.16371 5.79094C0.838533 5.26225 0.662222 4.65229 0.662222 4.02699C0.662222 2.17659 2.162 0.66669 4 0.66669C5.838 0.66669 7.33556 2.17659 7.33556 4.02699C7.33556 4.63374 7.17087 5.2281 6.86369 5.74557Z" fill="white"/>
						<rect width="4" height="4.02699" fill="black" fill-opacity="0" transform="translate(2 2.01349)"/>
						<rect width="4" height="4.02699" fill="black" fill-opacity="0" transform="translate(2 2.01349)"/>
						<path d="M4 2.01349C2.8972 2.01349 2 2.91674 2 4.02698C2 5.13013 2.8826 6.04048 4 6.04048C5.13118 6.04048 6 5.11801 6 4.02698C6 2.91674 5.1028 2.01349 4 2.01349ZM4 5.37379C3.26096 5.37379 2.66222 4.769 2.66222 4.02698C2.66222 3.28682 3.2648 2.68018 4 2.68018C4.7352 2.68018 5.33556 3.28682 5.33556 4.02698C5.33556 4.75817 4.75076 5.37379 4 5.37379Z" fill="white"/>
					
					a.city-toggle(href="#" data-city-selector='#header-city-selector').menu-icon
						span Санкт-Петербург
			.col-lg-4.d-none.d-lg-flex
				//- +header-info__item("../img/icons/car.svg", "Доставка по всей России")(class="mr-20")
				.header-info__block.d-flex.mr-20
					svg.header-info__icon.header-info__icon--mt( width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg")
						<rect width="20.0004" height="10.9411" fill="black" fill-opacity="0"/>
						<path d="M19.1207 2.51228C18.5806 1.92717 17.8113 1.60393 16.9562 1.60393H14.8981V0.490998C14.8981 0.220949 14.6771 0 14.4071 0H4.60349C4.33344 0 4.11249 0.220949 4.11249 0.490998V2.20131H2.20169C1.93164 2.20131 1.71069 2.42226 1.71069 2.69231C1.71069 2.96236 1.93164 3.18331 2.20169 3.18331H4.59122C4.59531 3.18331 4.5994 3.18331 4.60349 3.18331C4.60349 3.18331 4.60349 3.18331 4.60758 3.18331C4.87763 3.18331 5.09858 2.96236 5.09858 2.69231V0.981997H13.9202V2.09493V8.6784H9.29662C9.27616 8.6784 9.2557 8.6784 9.23524 8.68249C8.98974 8.07692 8.39645 7.6473 7.70497 7.6473C7.00938 7.6473 6.41609 8.08102 6.17469 8.69067C6.13786 8.68249 6.10513 8.6784 6.0683 8.6784H5.09858V6.96399C5.09858 6.69394 4.87763 6.473 4.60758 6.473C4.5994 6.473 4.59122 6.473 4.58303 6.473C4.57485 6.473 4.57076 6.473 4.56258 6.473H2.20169C1.93164 6.473 1.71069 6.69394 1.71069 6.96399C1.71069 7.23404 1.93164 7.45499 2.20169 7.45499H4.11249V9.1653C4.11249 9.43535 4.33344 9.6563 4.60349 9.6563H6.06421C6.07649 9.6563 6.08467 9.6563 6.09695 9.6563C6.26061 10.3928 6.91937 10.9411 7.70497 10.9411C8.49056 10.9411 9.14523 10.3928 9.31298 9.6563H14.4112H15.1968C15.3645 10.3887 16.0192 10.9411 16.8048 10.9411C17.5904 10.9411 18.2451 10.3928 18.4128 9.6563H19.5094C19.7794 9.6563 20.0004 9.43535 20.0004 9.1653V5.08593C20.0004 4.02619 19.6935 3.13421 19.1207 2.51228ZM7.70497 9.96318C7.33672 9.96318 7.03803 9.66448 7.03803 9.29624C7.03803 8.92799 7.33672 8.6293 7.70497 8.6293C8.07321 8.6293 8.3719 8.92799 8.3719 9.29624C8.3719 9.66448 8.07321 9.96318 7.70497 9.96318ZM16.8048 9.96318C16.4366 9.96318 16.1379 9.66448 16.1379 9.29624C16.1379 8.92799 16.4366 8.6293 16.8048 8.6293C17.1731 8.6293 17.4717 8.92799 17.4717 9.29624C17.4677 9.66448 17.169 9.96318 16.8048 9.96318ZM19.0184 8.6784H18.331C18.0855 8.07692 17.4922 7.6473 16.8048 7.6473C16.1174 7.6473 15.5241 8.07283 15.2786 8.6784H14.9022V2.58592H16.9603C18.2492 2.58592 19.0184 3.52291 19.0184 5.09002V8.6784Z" fill="white"/>
						<path d="M8.4329 5.74872C8.24059 5.94103 8.24059 6.25199 8.4329 6.4443C8.52701 6.53841 8.65385 6.58751 8.78069 6.58751C8.90753 6.58751 9.03028 6.53841 9.12848 6.4443L10.3928 5.17998L10.3969 5.17589C10.4051 5.16361 10.4173 5.15543 10.4255 5.14315C10.4296 5.13497 10.4337 5.13088 10.4378 5.1227C10.4419 5.11451 10.446 5.11042 10.4542 5.10224C10.4583 5.09405 10.4624 5.08587 10.4664 5.07769C10.4705 5.0695 10.4746 5.06541 10.4787 5.05723C10.4828 5.04905 10.4869 5.04086 10.491 5.03268C10.4951 5.0245 10.4992 5.0204 10.4992 5.01222C10.5033 5.00404 10.5033 4.99585 10.5074 4.98767C10.5115 4.97949 10.5115 4.9713 10.5155 4.96721C10.5196 4.95903 10.5196 4.95085 10.5196 4.94266C10.5196 4.93448 10.5237 4.9263 10.5237 4.91811C10.5237 4.90993 10.5278 4.90175 10.5278 4.88947C10.5278 4.88129 10.5319 4.8772 10.5319 4.86901C10.536 4.83628 10.536 4.80355 10.5319 4.77081C10.5319 4.76263 10.5319 4.75854 10.5278 4.75036C10.5278 4.74217 10.5237 4.73399 10.5237 4.72171C10.5237 4.71353 10.5196 4.70535 10.5196 4.69716C10.5196 4.68898 10.5155 4.6808 10.5155 4.67261C10.5115 4.66443 10.5115 4.65625 10.5074 4.65216C10.5033 4.64397 10.5033 4.63579 10.4992 4.62761C10.4951 4.61942 10.491 4.61533 10.491 4.60715C10.4869 4.59896 10.4828 4.59078 10.4787 4.5826C10.4746 4.57441 10.4705 4.57032 10.4664 4.56214C10.4624 4.55396 10.4583 4.54577 10.4542 4.53759C10.4501 4.52941 10.446 4.52531 10.4378 4.51713C10.4337 4.50895 10.4296 4.50486 10.4255 4.49667C10.4173 4.4844 10.4051 4.47621 10.3969 4.46394L10.3928 4.45985L9.18985 3.2569C8.99755 3.06459 8.68658 3.06459 8.49427 3.2569C8.30196 3.44921 8.30196 3.76017 8.49427 3.95248L8.85843 4.31664H0.490998C0.220949 4.31664 0 4.53759 0 4.80764C0 5.07769 0.220949 5.29864 0.490998 5.29864H8.85434L8.4329 5.74872Z" fill="white"/>
					
					span Доставка по всей России
				//-+header-info__item("../img/icons/warranty.svg", "Гарантия 1 год")
				.header-info__block.d-flex
					svg.header-info__icon( width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
						<rect width="14" height="14" fill="black" fill-opacity="0"/>
						<path d="M10.312 9.05078C9.60238 10.1952 8.35534 10.8965 7.00007 10.8965C5.64478 10.8965 4.39777 10.1952 3.68814 9.05078H2.75293C3.51721 10.6272 5.13375 11.7168 7.00007 11.7168C8.86639 11.7168 10.483 10.6272 11.2472 9.05078H10.312Z" fill="white"/>
						<path d="M7.00007 2.2832C5.13375 2.2832 3.51721 3.3728 2.75293 4.94922H3.68814C4.39777 3.80477 5.64478 3.10352 7.00007 3.10352C8.35534 3.10352 9.60238 3.80477 10.312 4.94922H11.2472C10.483 3.3728 8.86639 2.2832 7.00007 2.2832Z" fill="white"/>
						<path d="M11.5536 5.76953H2.44634C2.34019 6.162 2.2832 6.57442 2.2832 7C2.2832 7.42558 2.34019 7.838 2.44634 8.23047H11.5536C11.6598 7.838 11.7168 7.42558 11.7168 7C11.7168 6.57442 11.6598 6.162 11.5536 5.76953ZM10.5547 7.41016H3.44531V6.58984H10.5547V7.41016Z" fill="white"/>
						<path d="M14 7C14 6.63873 13.8846 6.29595 13.6666 6.00917C13.5263 5.82403 13.4795 5.58898 13.5382 5.36482C13.63 5.01583 13.6054 4.65497 13.4672 4.32124C13.3289 3.98748 13.0911 3.71495 12.7799 3.53339C12.5795 3.41605 12.4463 3.21677 12.4147 2.98722C12.366 2.6297 12.2052 2.30571 11.9498 2.05023C11.6943 1.79479 11.3704 1.63401 11.0134 1.58536C10.7833 1.55367 10.584 1.42054 10.4669 1.2206C10.2851 0.908906 10.0126 0.67107 9.67881 0.53282C9.47857 0.449887 9.26778 0.407832 9.05231 0.407832C8.91182 0.407832 8.77149 0.426016 8.63581 0.461727C8.57369 0.477969 8.50965 0.486227 8.44547 0.486227C8.28237 0.486227 8.12093 0.431977 7.9914 0.333813C7.70407 0.115418 7.36129 0 7 0C6.63876 0 6.29598 0.115418 6.00914 0.333402C5.87915 0.431949 5.71771 0.486199 5.55455 0.486199C5.49043 0.486199 5.42639 0.477941 5.36484 0.461863C5.22856 0.425988 5.08823 0.407805 4.94774 0.407805C4.73227 0.407805 4.52148 0.449859 4.32122 0.532793C3.98746 0.67107 3.71492 0.908879 3.53336 1.22005C3.41603 1.42051 3.21675 1.55364 2.98722 1.58525C2.62968 1.63404 2.30568 1.79482 2.05023 2.05023C1.79479 2.30571 1.63401 2.6297 1.58539 2.98665C1.55367 3.21675 1.42054 3.41603 1.2206 3.53306C0.908906 3.71489 0.67107 3.98743 0.532848 4.32119C0.394598 4.65492 0.370043 5.01577 0.461699 5.36421C0.520461 5.58895 0.473703 5.82397 0.333758 6.00863C0.115418 6.29595 0 6.63873 0 7C0 7.36127 0.115418 7.70405 0.333402 7.99086C0.473703 8.176 0.520461 8.41102 0.461836 8.63518C0.370043 8.98417 0.394598 9.34503 0.53282 9.67873C0.67107 10.0126 0.908906 10.2851 1.22005 10.4666C1.42051 10.5839 1.55367 10.7832 1.58528 11.0127C1.63401 11.3703 1.79479 11.6943 2.05023 11.9497C2.30571 12.2052 2.6297 12.366 2.98665 12.4146C3.21675 12.4463 3.41603 12.5794 3.53306 12.7794C3.71489 13.0911 3.98743 13.3289 4.32119 13.4672C4.52145 13.5501 4.73227 13.5922 4.94777 13.5922C5.08823 13.5922 5.22854 13.574 5.36421 13.5383C5.42637 13.522 5.49041 13.5138 5.55455 13.5138C5.71766 13.5138 5.8791 13.568 6.0086 13.6662C6.29593 13.8846 6.63873 14 7 14C7.36129 14 7.70407 13.8846 7.99086 13.6666C8.12088 13.5681 8.28228 13.5138 8.44539 13.5138C8.50954 13.5138 8.57358 13.5221 8.63518 13.5382C8.77144 13.574 8.91174 13.5922 9.0522 13.5922C9.2677 13.5922 9.47852 13.5501 9.67876 13.4672C10.0125 13.3289 10.2851 13.0911 10.4666 12.78C10.5839 12.5795 10.7832 12.4464 11.0128 12.4147C11.3703 12.366 11.6943 12.2052 11.9498 11.9498C12.2052 11.6943 12.366 11.3704 12.4146 11.0134C12.4463 10.7833 12.5795 10.584 12.7794 10.467C13.0911 10.2851 13.3289 10.0126 13.4672 9.67884C13.6054 9.34514 13.63 8.98428 13.5383 8.63579C13.4796 8.41107 13.5263 8.17603 13.6662 7.99138C13.8846 7.70405 14 7.36127 14 7ZM7 12.5371C3.94682 12.5371 1.46289 10.0532 1.46289 7C1.46289 3.94682 3.94682 1.46289 7 1.46289C10.0532 1.46289 12.5371 3.94682 12.5371 7C12.5371 10.0532 10.0532 12.5371 7 12.5371Z" fill="white"/>
						
					span Гарантия 1 год
			.col-6.col-lg-4.d-flex.justify-content-end
				//+header-info__item("../img/icons/phone.svg", "+7 (495) 132-62-60")
				.header-info__block.d-flex
					svg.header-info__icon( width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
						<path d="M11.2521 14.0001C10.6696 14.0001 9.96608 13.8541 9.1924 13.5621C7.49625 12.9227 5.65082 11.6588 3.99611 10.0041C2.34092 8.3489 1.07705 6.503 0.437107 4.80685C-0.144444 3.26467 -0.145857 1.99892 0.433811 1.41972C0.517159 1.33637 0.601919 1.2469 0.689505 1.15461C1.21832 0.598485 1.81588 -0.0273307 2.60792 0.000922767C3.15368 0.0235256 3.68249 0.362568 4.22402 1.03641C5.82411 3.0264 5.1027 3.73557 4.26781 4.55774L4.12042 4.70372C3.98387 4.84028 3.72582 5.47269 6.12642 7.87329C6.90999 8.65686 7.57818 9.2304 8.11217 9.57745C8.44839 9.79595 9.04972 10.1265 9.29647 9.87976L9.4448 9.73002C10.266 8.89701 10.9752 8.17796 12.9638 9.77664C13.6376 10.3182 13.9762 10.8465 13.9988 11.3932C14.0313 12.1848 13.4008 12.7838 12.8442 13.3121C12.7523 13.3997 12.6629 13.4844 12.5795 13.5673C12.2918 13.8555 11.8317 14.0001 11.2521 14.0001ZM2.55141 0.470873C1.9887 0.470873 1.4806 1.00581 1.0309 1.47905C0.940491 1.57417 0.852905 1.66647 0.766732 1.75264C0.334924 2.18398 0.378717 3.31741 0.877862 4.64109C1.49473 6.27603 2.72046 8.06259 4.3295 9.67163C5.93807 11.2797 7.72369 12.5055 9.3591 13.1219C10.6828 13.6219 11.8162 13.6643 12.2471 13.2335C12.3332 13.1473 12.4255 13.0597 12.5207 12.9698C13.0043 12.5102 13.5529 11.9894 13.5288 11.4116C13.5124 11.0146 13.2232 10.5875 12.6695 10.1425C11.0124 8.8099 10.549 9.28032 9.78055 10.0596L9.62986 10.2117C9.26256 10.5795 8.66594 10.498 7.85601 9.97159C7.29424 9.60618 6.60014 9.01191 5.79397 8.20527C3.80163 6.2134 3.16451 4.99426 3.78797 4.36939L3.93819 4.22106C4.7194 3.45256 5.19076 2.98873 3.85767 1.33072C3.41173 0.777424 2.9851 0.488296 2.58814 0.471344C2.5759 0.470873 2.56366 0.470873 2.55141 0.470873Z" fill="white"/>
						


					span +7 (495) 132-62-60
				.header-info__block.d-none.d-md-block.ml-10 +7 (800) 222-63-30
		
		- var cityBlockId = 'header-city-selector';
		include ../sections/_city-selection.pug
.header-menu
	.container
		a(href="main.html").logo
		.row
			.col-6.d-flex.d-lg-none
				.menu-block
					img#toggle-menu(src="../img/icons/gamburger.svg" alt="иконка")
				.menu-block.toggle-search-block
					img(src="../img/icons/search.svg" alt="иконка")
			.col-6.d-flex.justify-content-end
				.menu-block.user-registration
					img(src="../img/icons/profile.svg" alt="иконка")
					.user-registration__text
						a(href="#!") Вход
						|  или 
						a(href="#!") Регистрация
						|  |
				.menu-block.cart
					.cart__image
						img(src="../img/icons/bag-color.svg" alt="иконка")
						.cart__image-total 3
					.cart__amount 5850р.