//- шапка поиск
.header-search-section#header-search-section
	.header-search
		//- .container.wrapper-relative
		.wrapper-border-bottom
			.container.wrapper-relative
				input.header-search__input(type="text" placeholder="Поиск товара...")
				.header-search__close
					<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="12" height="12" fill="black" fill-opacity="0"/>
					<rect width="12" height="12" fill="black" fill-opacity="0"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.42618 6.00002L11.7046 1.72158C12.0985 1.32774 12.0985 0.689212 11.7046 0.295433C11.3108 -0.0984026 10.6723 -0.0984026 10.2785 0.295433L5.99998 4.57393L1.72148 0.295377C1.32765 -0.0984589 0.68917 -0.0984589 0.295334 0.295377C-0.0984448 0.689212 -0.0984448 1.32774 0.295334 1.72152L4.57383 5.99996L0.295334 10.2785C-0.0984448 10.6723 -0.0984448 11.3108 0.295334 11.7046C0.68917 12.0984 1.32765 12.0984 1.72148 11.7046L5.99998 7.42611L10.2785 11.7046C10.6723 12.0984 11.3108 12.0984 11.7046 11.7046C12.0985 11.3108 12.0985 10.6723 11.7046 10.2785L7.42618 6.00002Z" fill="#58595B"/>
					</svg>	
		.container
			.header-search-result-mobile
				+searchResult ('thumb-1.png', '<strong>Кошелек</strong> «Мэйджик» с отд. для карт и мелочи')
				+searchResult ('thumb-2.png', '<strong>Кошелек</strong> для монет N/S|Морской пейзаж')
				+searchResult ('thumb-3.png', '<strong>Кошелек</strong> большой с двумя молниями')
				+searchResult ('thumb-4.png', '<strong>Кошелек</strong> для монет N/S|Морской пейзаж')
			.header-search-result-desktop
				.header-search-result
					.header-search-result__category Категории
						.devide
							+color-line-menu
						span.header-search-result__link
							a.header-search-result__link-item(href="") Новинки > Кошельки
						span.header-search-result__link
							a.header-search-result__link-item(href="") Женщинам > Кошельки
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошельки > Малые кошельки
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошельки > Средние кошельки
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошельки > Большие кошельки
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошельки > Кошельки на круговой молнии
					.header-search-result__goods Товары
						.devide
							+color-line-menu
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошелек «Мэйджик» с отд. для карт и мелочи
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошелек средний тройного сложения
						span.header-search-result__link
							a.header-search-result__link-item(href="") Кошелек на молнии
						span.header-search-result__link
							a.header-search-result__link-item(href="") Бумажник средний с отд. для монет на молнии и 10 карт
				.header-search-result-img
					img(src="../img/goods/purse-red-hover.png", alt="purse-red-hover")