.login
	form.login-form
		.login-form-title Войти
		.login-form-subtitle
			p.login-form-subtitle__text Еще нет аккаунта?						
			a.login-form-subtitle__link(href="#") Зарегистрироваться
		.login-form__form-group
			+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text', '', '')
			+inputField('Введите пароль', 'Вы ничего не ввели', 'pass', 'password', '', '')
			.login-form__form-group--checkbox
				+checkbox('Запомнить меня')
				a.login-form-subtitle__link.login-form-subtitle__link--small(href="#") Забыли пароль?
		+button-apply('Войти', '#')

	.login-footer
		.login-footer-title Или войдите через
				br
				| социальные сети
		.login-footer-content
			a.login-footer-content__item(href="#")
				img(src="../img/social/mail.svg", alt="icon")
			a.login-footer-content__item(href="#")
				img(src="../img/social/yandex.svg", alt="icon")
			a.login-footer-content__item(href="#")
				img(src="../img/social/vk.svg", alt="icon")
			a.login-footer-content__item(href="#")
				img(src="../img/social/fb.svg", alt="icon")