.login.login--passw-recover
	form.login-form.login-form--passw-recover
		.login-form-title.mb-15 Восстановление пароля
		.login-form-subtitle.mb-20
			p.login-form-subtitle__text.
				Введите в поле адрес электронной почты. Мы отправим вам сообщение по электронной почте с инструкциями по созданию нового пароля.
		.login-form__form-group
			+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text', '', '')
		+button-apply('Восстановить пароль', '#')