.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	.left-panel__section
		p.strong База
		.left-panel-nav
			+linkLeftPanel("Цвета", "colors.html")
			+linkLeftPanel("Заголовки", "")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Сетка", "grid.html")
			+linkLeftPanel("Вертикальный ритм", "vertical-grid.html")
			+linkLeftPanel("Формы", "forms.html")
			+linkLeftPanel("Хлебные крошки", "bread-crumb.html")
			+linkLeftPanel("Кнопки для фильтра и счетчик товара", "btn-plus-minus.html")


	.left-panel__section
		p.strong Блоки
		.left-panel-nav

			+linkLeftPanel("Баннеры", "banner.html")
			//- +linkLeftPanel("Баннер красный", "#")
			//- +linkLeftPanel("Баннер с картинкой", "#")
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Фильтр", "filter.html")
			+linkLeftPanel("Карточки товара", "cards.html")
			+linkLeftPanel("Карточка раздела", "section-card.html")
			+linkLeftPanel("Социальные сети", "ui-social.html")
			+linkLeftPanel("Выбор города", "city-selection.html")
			+linkLeftPanel("Каталог пагинация", "catalogue-pagination.html")
			+linkLeftPanel("Бейдж", "badges.html")
			+linkLeftPanel("Социальные сети", "social.html")
			+linkLeftPanel("Пагинация", "pagination.html")
	

	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("Разделы каталога", "catalogue-section.html")
			+linkLeftPanel("Хиты продаж", "sales_hits.html")
			+linkLeftPanel("Шапка - Поиск", "header-search.html")
			+linkLeftPanel("Шапка - верхняя часть", "header-top.html")
			+linkLeftPanel("Шапка - Выпадающее меню", "header-nav.html")
			+linkLeftPanel("Шапка - Все вместе", "header.html")
			+linkLeftPanel("Подвал - Форма подписки", "footer-subscribe.html")
			+linkLeftPanel("Подвал - Навигация", "footer-navigation.html")
			+linkLeftPanel("Подвал - Форма подписки", "footer-subscribe.html")
			+linkLeftPanel("Подвал - Социальные сети", "ui-social.html")
			+linkLeftPanel("Подвал - Общий, все вместе", "footer.html")

	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Главная", "../main.html")
			//- +linkLeftPanel("Каталог", "../catalog.html")

#ui-nav-toggle Скрыть/Показать навигацию
