.breadcrumb-list{
	width: 100%;
	
	padding-left: 4px;
	padding-right: 4px;
	
	@media @tablet {
		padding-left: 8px;
		padding-right: 8px;
	}

	@media @desktopXL {
		padding-left: 12px;
		padding-right: 12px;
	}
}
.breadcrumb-item {
	display: inline-block;
	position: relative;
	margin-right: 16px;
	font-size: 16px;
	color: @btn-text-buy-click;
	padding-top: @l1;
}
.breadcrumb-item:not(:last-child):hover{
	color: @text-red;
}
.breadcrumb-item:last-child:hover{
	color: @btn-text-buy-click;
	text-decoration: none;
	cursor: default;	
}


.breadcrumb-item:not(:last-child):after{
	content: ">";
	width: 12px;
	height: 12px;
	position: absolute;
	right: -15px;

}