.city-selection-wrapper {
	display: none;
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	z-index:2000;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	
	@media (min-width: 784px) {
		width: 360px;
		// top:37px;
		
	}
	@media (min-width: 1152px){
		position: absolute;
		left:auto;
		top:auto;
		bottom:0px;
		transform:translateY(100%);
		height: 650px;
		box-shadow: 0px 2px 6px rgba(154, 154, 154, 0.55);		
	} 

}

// Позиционируем второй блок с городами на странице Заказ в самом верху
// #order-city-selector.city-selection-wrapper {
// 	@media (min-width: 784px) {top:0px;}
// 	@media (min-width: 1154px){top:auto;}
// }

.selection-block-head{	
	position: sticky;
	left: 0;
	right: 0;
	top: 0;	
	background-color: #fff;
	z-index: 1;
	 @media @tablet {width: 360px;}
	 @media @desktop {position: absolute;}
}

.close-selection{
	display: block;
	width: 12px;
	height: 12px;
	transition: opacity 0.5s;
		position: absolute;
		top: 22px;
		right: 16px;
	}
.close-selection:hover {
	opacity: 0.6;
}
.city-selection-block__title {		
	text-align: center;
	padding-top: 8px;
	color:@btn-text-buy-click;
	border-bottom: 1px solid @borderMenu;
}
.selection-block__title--top{	
	background-color: @white;	
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;	
}
.selection-block__subtitle{
	background-color: @white;	
	font-size: 12px;
	margin-bottom: 8px;
}
.city-search-input {
	width: 100%;
	height: 48px;
	padding-left: 16px;
	border: none;	
	box-shadow: 0px 2px 6px rgba(154, 154, 154, 0.35);
	outline: none;	
	&::placeholder {
		color: @borderMenu;
		font-size: 18px;
	}
}


.city-selection-item{
	display: block;
	height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
	padding-top: 8px;
	color: @btn-text-buy-click;
	border-bottom: 1px solid @borderMenu;
	background-color: @white;
}
.city-selection-item:hover{
	color: lighten(@btn-text-buy-click, 25%);
	text-decoration: none;
	}
