.basic-block {
	width: 100%;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #000;
}

.basic-block-item{	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.basic-block-item__color{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-bottom: 20px;

}
.basic-block-item__color-name{
	font-size: 16px;
	font-weight: 700;
}
//-line-gradient
.color-1 {background-color: @color-1;}
.color-2 {background-color: @color-2;}
.color-3 {background-color: @color-3;}
.color-4 {background-color: @color-4;}
.color-5 {background-color: @color-5;}
.color-6 {background-color: @red;}
.color-7 {background-color: @color-7;}
.color-8 {background-color: @color-8;}
.color-9 {background-color: @color-9;}
.color-10 {background-color: @color-10;}
.color-11 {background-color: @color-11;}

//-text-color
.color-text{background-color: @text;}
.color-text-green{background-color: @text-green;}
.color-text-red{background-color: @red;}
.color-text-grey-dark{background-color: @text-grey-dark;}

//-button-background
.btn-cart{background-color: @btn-cart;}
.btn-red{background-color: @btn-red;}
.btn-blue{background-color: @btn-blue;}

//-goods color
.color-coral{background-color: @coral;}
.color-seagreen{background-color: @seagreen;}
.color-violet{background-color: @violet;}
.color-gold{background-color: @gold;}
.color-darkblue{background-color: @darkblue;}
.color-brown{background-color: @brown;}

//-fon color
.body-bg{background-color: @body-bg;}
.color-blue{background-color: @blue;}
.color-redlight{background-color: @redlight;}
.color-fongreen{background-color: @fongreen;}