.goods-cart__page-bg {
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1200;
	display: none;
}
.goods-cart__page {
	height: 100vh;
	overflow-y: auto;
	overflow-x:hidden;
	width: 321px;
	position: absolute;
	// display: none;
	top: 0;
	// right: 0;
	right: -360px;
	z-index: 1110;
	background-color: @white;
	transition:  all 0.7s;
	@media @tablet {
		width: 464px;
	}
	@media @desktop {
		right: -580px;
	}
}
.goods-cart__title {
	line-height: 1;
	font-size: 16px;
	text-align: center;
	color: @text-light-grey;
	padding-top: 14px;
	padding-bottom: 18px;
	font-weight: 600;
	@media @tablet {
		font-size: 18px;
	}
}
.goods-cart__color-line {
	 white-space: nowrap;
}
[class^="cart-line-color"] {
	height: 4px;
	width: 24%;
	display: none;
	@media @tablet {
		width: 19.5%;
	}
}
.cart-line-color-1 {background-color: @color-1;}
.cart-line-color-2 {background-color: @color-2;}
.cart-line-color-3 {background-color: @color-3;}
.cart-line-color-4 {background-color: @color-4;}
.cart-line-color-5 {background-color: @color-5;}
.cart-line-color-6 {background-color: @red;}

.cart-line-color-1,
.cart-line-color-2,
.cart-line-color-3,
.cart-line-color-4,
.cart-line-color-5,
.cart-line-color-6 {
	display: inline-block;
}
.goods-cart__footer {
	position: fixed;
	bottom: 5px;
	width: 321px;
	height: 88px;
	@media @tablet {
		bottom: 14px;
		width: 461px;
	}
}
.goods-cart__button {

}
.goods-cart__back-link {
	text-align: center;
	padding-top: 11px;
	background-color: @white;
	height: 100%;
}
.goods-cart__back-link-item {
	line-height: normal;
	font-size: 16px;
	text-align: center;
	color: @text-light-grey;
	border-bottom: 1px solid transparent;
	&:hover, &:active, &:focus {
		text-decoration: none;
		border-bottom: 1px solid @red;
	}
}