.product-photo__switch-block {
	min-width: 344px; 
	
	@media @tablet {
		min-width: 360px;
	}
	@media @desktop {
		min-width: 524px;
	}
}

.switch-block__main-photo {
	min-height: 344px;
	// min-width: 344px;

	img {
		margin-left: auto;
		margin-right: auto;
	}
	margin-bottom: 8px;
	
	@media @tablet {
		min-height: 360px;
		// min-width: 368px;

		margin-bottom: 0;	
	}
	@media @desktop {
		min-height: 524px;
		// min-width: 524px;
		margin-bottom: 0;	
	}
}

.switch-block__thumbnails {
	display: flex;
	justify-content: center;
	cursor: pointer;	
}

.thumbnails__image {
	border:1px solid @gray;
	margin-right: 8px;
	
	@media @tablet {
		margin-right: 16px;	
	}

	&:last-child {
		margin-right: 0;
		
		@media @tablet {
			margin-right: 0;	
		}	
	}
} 