//- секция банер 1
.section-banner-1 {
	.mixin-margin(top;@l1);
}

//- секция банер 2
.section-banner-2 {
		.mixin-margin(top;@l1);
}

//- хиты продаж
.section-top-sales {
	.mixin-margin(top;@l3);
	
	.title-1 {
		margin: 0px;
		.mixin-margin(bottom;@l2);
		text-align: center;
	}
}

//- аксессуары
.section-accessories {
	.mixin-margin(top;@l2);
	.mixin-margin(bottom;@l1);


	.title-3 {
		margin: 0px;
		.mixin-margin(bottom;@l3);
		text-align: center;
	}
}

.section-breadcrumb {
	margin-top: 8px;
	margin-bottom: 24px;
	
	@media @tablet {
		margin-top: 18px;
	}

	@media @desktop {
		margin-bottom: 32px;
	}

	@media @desktopXL {
		margin-top: 24px;
		margin-bottom: 36px;
	}
}

.section-similar-products {
	margin-top: 30px;
	margin-bottom: 24px;

	@media @tablet {
		margin-top: 22px;
		margin-bottom: 30px;
	}

	@media @desktop {
		margin-top: 40px;
		margin-bottom: 34px;
	}

	@media @desktopXL {
		margin-top: 64px;
		margin-bottom: 48px;
	}
}

.section-order {
	padding-bottom: 48px;

	@media @desktop {padding-bottom: 74px;}
	@media @desktopXL {padding-bottom: 146px;}
}


.section-profile {
	padding-bottom: 46px;

	@media @tablet {
		padding-bottom: 68px;
	}

	@media @desktop {
		padding-bottom: 100px;
	}

	@media @desktopXL {
		padding-bottom: 108px;
	}
}	

.section-order-processed {
	margin-left: auto;
	margin-right: auto;
	.mixin-margin(top, @l3);
	
	@media @tablet {width: 444px; margin-bottom: 32px;}
	@media @desktop {width: 704px; margin-bottom: 124px;}
	@media @desktopXL {width: 685px;margin-bottom: 116px;}	
}

.section-favourite {
	padding-bottom: 22px;

	@media @tablet {padding-bottom: 36px;}
	@media @desktop {padding-bottom: 112px;}
	@media @desktopXL {padding-bottom: 78px;}	
}