mixin color-line
	.color-line
		.color-line-color-1 {background-color: @color-1;}
		.color-line-color-2 {background-color: @color-2;}
		.color-line-color-3 {background-color: @color-3;}
		.color-line-color-4 {background-color: @color-4;}
		.color-line-color-5 {background-color: @color-5;}
		.color-line-color-6 {background-color: @red;}
		.color-line-color-7 {background-color: @color-7;}
		.color-line-color-8 {background-color: @color-8;}
		.color-line-color-9 {background-color: @color-9;}
		.color-line-color-10 {background-color: @color-10;}
		.color-line-color-11 {background-color: @color-11;}