mixin  filter-item (id, text)
	input.filter-checkbox(type='checkbox', id = id)
	label.filter-label(for = id) #{text}

mixin  filter-checkbox (text)
	label.filter-label 
		input.filter-checkbox(type='checkbox')
		span.filter-checkbox-custom
		span.filter-label-custom #{text}

mixin  filter-menu-checkbox (text)
	label.filter-label 
		span.filter-span
			input.filter-checkbox.filter-checkbox-custom(type='checkbox')
			span.filter-label-custom #{text}
			
mixin  filter-color-checkbox (color)
	label.label-color-checkbox
		input(type='checkbox')
		.filter-color-checkbox(Style="background-color: " + color)
