mixin inputField(textLable, textError, dataType, typeField, addClass)
	.input-wrapper
		.input-field--success-icon
		.input-field--error-icon
		input.input-field(type= typeField data-type= dataType class= addClass)
		if textLable !=''
			span.input-field__label= textLable
		if textError !=''
			.input-field__error-text= textError