// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

//- Mixn for search result
mixin searchResult (img, text)
	.header-search__result
		.header-search__result-img
			img(src="../img/good_thumbnail/" + img , alt=img)
		.header-search__result-description !{text}

mixin header-info__item(img, title)
	.header-info__block.d-flex&attributes(attributes)
		img(src=img alt="иконка")
		span #{title}
