mixin products-table-row(date, price, summe, notes)
	
	.products-table-row&attributes(attributes)
		.products-table-row__cell #{date}
		.products-table-row__cell #{price}
		.products-table-row__cell #{summe}
		.products-table-row__cell #{notes}
			block
		.products-table-row__cell.products-table-row__cell--link Подробнее