extends ../layouts/page-layout/blur-wrapper.pug

block variables
	- var title = 'Каталог товаров';
	- var pageClass = 'index-page';

block content

		//- Хлебные крошки
		.section-breadcrumb
			.container
				.breadcrumb-list
					+breadcrumb-item('#', 'Главная страница')
					+breadcrumb-item('#', 'Каталог')
		
		//- Основной контент
		.section-catalog
			.container
				h1.title-1.uppercase.catalog__title Мужские кошельки 
					span.catalog__title-count &mdash; 235
				p.catalog__title-description Ожидайте яркий взрыв в вашей сумке с нашими уникальными кошельками для мужчин: кожа лучшего качества, элегантные конструкции и уникальные детали для непревзойденного продукта, который вы Можете наслаждаться каждый день!
				.catalog-badge
					a.catalog-badge__item(href="#")
						+badgeFilter('Бумажники', 'badge-red')
					a.catalog-badge__item(href="#")
						+badgeFilter('Портмоне', 'badge-pink')
					a.catalog-badge__item(href="#")
					+badgeFilter('Органайзеры', 'badge-orange')
			.container
				.row
					.col-sm-0.col-md-3.col-lg-3
						.catalog-wrapper
							.catalog-filter
								form.form-filter.catalog-filter__form
									.filter-items-wrapper
										.filter-header
											.filter__title ФИЛЬТРЫ
											.filter__clean-button 
												a(href="#!") Очистить
											.filter__close-icon#filter__close-icon
												+icon-close
										+color-line(class="d-none d-lg-block")
										.filter-menu-block
											.filter-menu-block__title ПО ПОЛУ
												.filter-item-toggle
											.filter-submenu-block
												+filter-menu-checkbox('Женщинам')
												+filter-menu-checkbox('Мужчинам')
										.filter-menu-block
											.filter-menu-block__title ПО КАТЕГОРИЯМ
												.filter-item-toggle
											.filter-submenu-block
												+filter-menu-checkbox('Кошельки')
												+filter-menu-checkbox('Сумки')
												+filter-menu-checkbox('Аксессуары')
												+filter-menu-checkbox('Офис и Тревел')
										.filter-menu-block
											.filter-menu-block__title ПО РАЗМЕРУ
												.filter-item-toggle
											.filter-submenu-block
												+filter-menu-checkbox('Большой')
												+filter-menu-checkbox('Малый')
												+filter-menu-checkbox('Средний')
										.filter-menu-block
											.filter-menu-block__title ПО ЦВЕТУ
												.filter-item-toggle
											.filter-submenu-block.font-size-null.pb-10
												+filter-color-checkbox('col1.png', 'черный/аллюр')
												+filter-color-checkbox('col2.png', 'черный/аллюр')
												+filter-color-checkbox('col5.png', 'черный/аллюр')
												+filter-color-checkbox('col4.png', 'черный/аллюр')
												+filter-color-checkbox('col6.png', 'черный/аллюр')
												+filter-color-checkbox('col7.jpg', 'черный/аллюр')
												+filter-color-checkbox('col9.png', 'черный/аллюр')
												+filter-color-checkbox('col8.png', 'черный/аллюр')
												+filter-color-checkbox('col10.png', 'черный/аллюр')
												+filter-color-checkbox('col11.png', 'черный/аллюр')
												+filter-color-checkbox('col1.png', 'черный/аллюр')
												+filter-color-checkbox('col2.png', 'черный/аллюр')
										.filter-menu-block
											.filter-menu-block__title ПО цене
												.filter-item-toggle
											.filter-submenu-block
												+filter-menu-checkbox('До 2 000р.')
												+filter-menu-checkbox('От 5 000р. до 10 000р.')
												+filter-menu-checkbox('От 10 000р.')
									.filter-buttons-wrapper
										+button-apply('Применить', '#')
										label.filter-reset Очисить фильтр
											input(type='Reset' value='Очистить фильтр')
					.col-md-12.col-lg-9
						.catalog-filters
							.catalog-filters__badge
								a.filter-name.catalog-filters__badge-item(href="#") Мужчины	
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
								a.filter-name.catalog-filters__badge-item(href="#") Кошельки
									.filter-close
							.catalog-filters__title Фильтр
							.drop-down
								.drop-down-check.menu-icon
								.drop-down-item-block
									.drop-down-item По популярности
									.drop-down-item Новинки
									.drop-down-item.drop-down-item--active По возрастанию цены
									.drop-down-item По убыванию цены
						.row
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card--sale( '- 40%','','goods/purse-brown-hover.png', 'goods/purse_brown.png', 'purse brown','#', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 863р.', '4 863р.' )(class="card-product--colorscheme")
									+button-cart('В корзину','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										+colors-product__circle('col2.png', 'черный/аллюр')
										+colors-product__circle('col6.png', 'черный/аллюр')
										+colors-product__circle('col4.png', 'черный/аллюр')
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card--sale( '- 40%','','goods/purse-brown-hover.png', 'goods/purse_brown.png', 'purse brown','#', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 863р.', '4 863р.' )(class="card-product--colorscheme")
									+button-cart('В корзину','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										+colors-product__circle('col2.png', 'черный/аллюр')
										+colors-product__circle('col8.png', 'черный/аллюр')
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card( 'goods/purse-brown-hover.png', 'goods/purse_green.png', 'purse green', '#','Кошелек для монет N/S|Морской пейзаж"', '4 863р.')
									+button-store('Нет в наличии','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										+colors-product__circle('col2.png', 'черный/аллюр')
										+colors-product__circle('col5.png', 'черный/аллюр')
										+colors-product__circle('col8.png', 'черный/аллюр')
										+colors-product__circle('col6.png', 'черный/аллюр')
										+colors-product__circle('col7.jpg', 'черный/аллюр')
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card( 'goods/purse-brown-hover.png', 'goods/purse_yellow.png', 'purse yellow', '#','Сумка большая, коллекция "Рига"', '4 863р.')
									+button-cart('В корзину','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										+colors-product__circle('col2.png', 'черный/аллюр')
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card( 'goods/purse-brown-hover.png', 'goods/purse_green.png', 'purse green', '#','Кошелек для монет N/S|Морской пейзаж', '4 863р.')
									+button-store('Нет в наличии','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										
							.col-6.col-sm-6.col-md-3.col-lg-4
								+card( 'goods/purse-brown-hover.png', 'goods/purse_yellow.png', 'purse yellow', '#','Сумка большая, коллекция "Рига"', '4 863р.')
									+button-cart('В корзину','#')
									.colors-product
										+colors-product__circle('col1.png', 'черный/аллюр')
										+colors-product__circle('col2.png', 'черный/аллюр')
										+colors-product__circle('col5.png', 'черный/аллюр')
										+colors-product__circle('col8.png', 'черный/аллюр')
										+colors-product__circle('col6.png', 'черный/аллюр')
										+colors-product__circle('col7.jpg', 'черный/аллюр')
							.paginator.catalog-paginator
								.page-toggle
									+pagination-toggle('#', 1)
									+pagination-toggle('#', 2)(class="page-toggle__item--current")
									+pagination-toggle('#', 3)
									
									span.page-toggle__item.paginator__span …
									+pagination-toggle('#', 62)(class="page-toggle__item--last")

								+button-more('Показать еще', '#')
								.page-toggle
									+pagination-toggle('#', 'Назад')(class="page-toggle__item--prev")
									+pagination-toggle('#', 'Вперед')(class="page-toggle__item--next")