extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	.container
		.title-1.text-center.mb-55 Проект MyWalit
		.row.mb-30
			.col
				.card.align-items-center.pb-35
					.title-2 UI-Kit
					+button("Перейти", "ui/ui-kit.html")
			
		.row
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Главная страница
					+button("Перейти", "main.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Каталог товаров
					+button("Перейти", "catalog.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Описание товара
					+button("Перейти", "product.html")
		.row
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Оформить заказ
					+button("Перейти", "order.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Спасибо за заказ
					+button("Перейти", "order-processed.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Профиль пользователя
					+button("Перейти", "account-profile.html")
		.row
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Избранное
					+button("Перейти", "account-favourite.html")
			.col-md-4.mb-30
					.card.align-items-center.pb-35
						.title-2 Вакансии
						+button("Перейти", "job.html")
		
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Страница регистрации
					+button("Перейти", "registration-page.html")
    .row    
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Ваканcии
					+button("Перейти", "job.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Восстановление пароля
					+button("Перейти", "password-recover-page.html")
      .col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Форма авторизации
					+button("Перейти", "login-page.html")