extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Каталог товаров';
	- var pageClass = 'index-page';

block content
	
	//- Обертка для фильтра blur и мобильной навигации
	.blur-wrapper
		//- шапка
		.header
			include ../sections/header.pug
		.container
			.row
				.col-md-6.offset-md-3
					include ../sections/login-form.pug		
		include ../sections/footer.pug