extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	include ../sections/header-top.pug
	include ../sections/header-nav.pug
	.line-gradient
	include ../sections/header-search.pug
	
	//- секция банер 1
	.section-banner-1
	
	//- секция банер 2
	.section-banner-2
	
	//- хиты продаж
	.section-top-sales
		.container
			.title-1 Хиты продаж
			.row
				.col-6.col-md-3
					+card--sale( '- 40%','goods/purse-brown-hover.png', 'goods/purse_brown.png', 'purse brown', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 863 р', '6 990 р' )
						+button-cart('В корзину','#')
				.col-6.col-md-3
					+card( 'goods/purse-brown-hover.png', 'goods/purse_yellow.png', 'purse yellow', 'Сумка большая, коллекция "Рига"', '4 863 р')
						+button-cart('В корзину','#')
				.col-6.col-md-3
					+card( 'goods/purse-brown-hover.png', 'goods/purse_green.png', 'purse green', 'Кошелек для монет N/S|Морской пейзаж', '1 990 р')
						+button-store('Нет в наличии','#')
				.col-6.col-md-3
					+card--sale( '- 40%','goods/purse-brown-hover.png', 'goods/purse_brown.png', 'purse brown', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 863 р', '6 990 р' )
						+button-cart('В корзину','#')

	//- аксессуары
	.section-accessories
		include ../sections/section-accessories.pug

	//- Подвал
	include ../sections/footer.pug
	


	