extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	include ../sections/header-top.pug
	include ../sections/header-nav.pug
	.line-gradient
	include ../sections/header-search.pug		
	