extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Каталог товаров';
	- var pageClass = 'index-page';

block content
	.blur-wrapper
		//- шапка
		.header
			include ../sections/header.pug
		.page404-wrapper
			include ui/_page404.pug
			.page404__text-wrapper
				.page404__title ОШИБКА 404
				.page404__subtitle К сожалению такой страницы не существует, перейдите в 
					a(href="catalog.html").page404__subtitle-link каталог товаров