extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Описание товара';
	- var pageClass = 'index-page';

block content
	//- шапка
	.header
		include ../sections/header.pug
	
	//- Хлебные крошки
	.section-breadcrumb
		.container
			.breadcrumb-list
				+breadcrumb-item('#', 'Главная страница')
				+breadcrumb-item('#', 'Описание продукта')

	//- Описание товара
	.section-product
	
	//- Похожие товары
	.section-similar-products
		.container
			.title-4 Похожие товары
			.row
				.col-6.col-md-3
					+card--sale( '- 40%','goods/purse-brown-hover.png', 'goods/purse_brown.png', 'purse brown', '#', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 893р.', '6 990р.' )
						+button-cart('В корзину','#')




	//- Подвал
	.footer
		include ../sections/footer.pug
