include ../mixins/_buttons.pug
include ../mixins/_cards.pug
include ../mixins/_links.pug
include ../mixins/_mixins.pug
include ../mixins/_colors.pug
include ../mixins/_section-card.pug
include ../mixins/_social.pug
include ../mixins/_input.pug
include ../mixins/_pagination.pug
include ../mixins/_breadcrumb.pug
include ../mixins/_filter-menu.pug
include ../mixins/_svg.pug
include ../mixins/_pagination.pug
include ../mixins/_show-order.pug
include ../mixins/_vertical-menu.pug
include ../mixins/_color-line.pug
include ../mixins/_products-table.pug
include ../mixins/_shop-card.pug