extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки для фильтра и кнопки "плюс", "минус"';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Кнопки для фильтра и кнопки "плюс", "минус"
		
		.section-ui
			.filter-name Мужчинам
				.filter-close
		pre.
			.filter-name Мужчинам
				.filter-close
		
		.btn-counter.btn-counter--plus
		pre.
			.btn-counter.btn-counter--plus

		.btn-counter.btn-counter--minus
		pre.
			.btn-counter.btn-counter--plus