extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Кнопки
		
		.section-ui
			.ui-title Общие кнопки
			.row
				.col-auto
					+button-cart("В корзину", "#")
				.col-auto
					+button-store("Нет в наличии", "#")
				.col-auto(style="background-color: #004AAA; padding: 15px;")
					+button-detail("Подробнее", "#")
		pre.
			+button-cart('В корзину','#')
			+button-store('Нет в наличии','#')
			+button-detail('Подробнее','#')
		
		.section-ui
			.ui-title Купить в 1 клик
			+button-buyclick("Купить в 1 клик", "#")
		.section-ui
			.ui-title Добавить в корзину
			+button-addcart("Добавить в корзину", "#")
		pre.
			+button-buyclick("Купить в 1 клик", "#")
			+button-addcart("Добавить в корзину", "#")

		.section-ui
			.ui-title Кнопки подписки Она / Он
			.row
				.col-auto
					+button-she("Она", "#")
				.col-auto
					+button-he("Он", "#")
		pre.
			+button-she("Она", "#")
			+button-he("Он", "#")
		
		.section-ui
			.ui-title Кнопка оформить заказ
			+button-order('Оформить заказ', '#', '14 679')
		pre.
			+button-order('Оформить заказ', '#', '14 679')

		.section-ui
			.ui-title Кнопка Применить
			+button-apply('Применить', '#')
		pre.
			+button-apply('Применить', '#')

		.section-ui
			.ui-title Кнопка Показать еще
			+button-more('Показать еще', '#')
		pre.
			+button-more('Показать еще', '#')
