extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Карточки
		.title-2 Карточка - Пост в блоге
		
		.section-ui
			.card Замечательная карточка

		pre.
			.card Замечательная карточка
