extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Баннеры';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Контактная информация
		.section-ui
			.row
				.col-md-6.col-lg-5.offset-lg-1
					section.contacts
						form.contacts-info(action="" method="")
							.contacts-block
								.title-4.contacts-title Контактная информация
								.subtitle-block
									.contacts-text Вы уже зарегистрированы?
									a.contacts-link(href="#") Войти
								
								.form-group-user-data
									+inputField('Имя Фамилия', 'Вы ничего не ввели', 'notEmpty', 'text')
									+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
									+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text')

							.contacts-block
								.title-4.contacts-title Адрес доставки
								.subtitle-block
									.contacts-text.contacts-address Санкт-Петербург
									a.contacts-link.select-address(href="#") Выбрать город
								
								.contacts-block--border.contacts-block--active
									.subtitle-block
										.contacts-text.contacts-text--large #[strong Пункты самовывоза]
										a.contacts-link.contacts-link--notbold(href="#") Изменить
									.pickup-points.
										Постамат: ТК Нео 7801-003, Заневский пр-т, д. 38
									.delivery-info
										.delivery-date Доставка: #[span.delivery-date__val] Сегодня
										.delivery-price Стоимость доставки: #[span.delivery-price__val] Бесплатно

								.contacts-block--border
									.subtitle-block
										.contacts-text.contacts-text--large #[strong Курьерская доставка]
									.delivery-info
										.delivery-date.contacts-text-small Доставка: #[span.delivery-date__val] Сегодня
										.delivery-price.contacts-text-small Стоимость доставки: #[span.delivery-price__val] 350р.

								
								.form-group-user-address
									.row
										.col
											+inputField('Название улицы', 'Вы ничего не ввели', 'notEmpty', 'text')
									.row
										.col
											+inputField('№ дома', 'Вы ничего не ввели', 'notEmpty', 'text')(class="field-mr-16")
										.col
											+inputField('№ кв./офис', 'Вы ничего не ввели', 'notEmpty', 'text')


								.delivery-comments
									a.add-comments(href="#")
										i.fas.fa-plus
									a.contacts-link.contacts-link--active(href="#") Добавить комментарий
									textarea.comments-field(name="comments-field" )

							.contacts-block
								.title-4.contacts-title Способ оплаты
								.subtitle-block
									.contacts-text Выберите удобный способ оплаты
									
								.form-group-payment
									.payment-type.payment-type-card.payment-type--active(data-type="payment-card") 
										p.contacts-text Оплата кредитной картой
									.payment-type.payment-type-cash(data-type="payment-cash") Оплата наличными
							.contacts-block
								+button-apply('Оформить заказ', '#')
								.contacts-block-footer.contacts-text-small
									|Нажимая кнопку "Оформить заказ", вы соглашаетесь с
									br
									| 
									a.contacts-link.a.contacts-link-small условиями оферты 
									| и 
									a.contacts-link.a.contacts-link-small политикой конфиденциальности.