extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Контакты для страницы Профиль';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Контакты для страницы Профиль