extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фильтр - Навигация - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Фильтр
		
		form.form-filter(style="border:1px dashed lightgrey;")
			.filter-header
				.filter__title ФИЛЬТРЫ
				.filter__clean-button Очистить
				.filter__close-icon#filter__close-icon
					+icon-close
			.line-gradient.d-none.d-lg-block
			ul.filter-menu-l1
				li ПО ПОЛУ
					.filter-icon-close
					ul.filter-menu-l2
						li
							+filter-item('gerder1','Женщинам')
						li
							+filter-item('gender2','Мужчинам')
				li ПО КАТЕГОРИЯМ
					.filter-icon-close
					ul.filter-menu-l2
						li
							+filter-item('category1','Кошельки')
						li
							+filter-item('category2','Сумки')
						li
							+filter-item('category3','Аксессуары')
						li
							+filter-item('category4','Офис и Тревел')
				li ПО РАЗМЕРУ
					.filter-icon-close
					ul.filter-menu-l2
						li
							+filter-item('size1','Большой')
						li
							+filter-item('size2','Малый')
						li
							+filter-item('size3','Средний')
				li ПО ЦВЕТУ
					.filter-icon-close
					ul.filter-menu-l2
						li
							+filter-color-checkbox('#FF7979')
							+filter-color-checkbox('#6BAC89')
							+filter-color-checkbox('#C3499E')
							+filter-color-checkbox('#FFB047')
							+filter-color-checkbox('#002D76')
							+filter-color-checkbox('#AF674F')
							+filter-color-checkbox('#FF7979')
							+filter-color-checkbox('#6BAC89')
							+filter-color-checkbox('#C3499E')
							+filter-color-checkbox('#FFB047')
							+filter-color-checkbox('#FF7979')
							+filter-color-checkbox('#6BAC89')
							
				li ПО ЦЕНЕ
					.filter-icon-close
					ul.filter-menu-l2
						li
							+filter-item('price1','До 2 000р.')
						li
							+filter-item('price2','От 5 000р. до 10 000р.')
						li
							+filter-item('price3','От 10 000р.')

			+button-apply('Применить', '#')
			label.filter-reset Очисить фильтр
				input(type='Reset' value='Очистить фильтр')