extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - Навигация - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content
			.section-ui
				.title Подвал - Навигация
			.section-ui
				.footer-navigation
					.footer-navigation-devide
						+color-line
					.footer-navigation-mobile
						a.footer-navigation-mobile__link(href="#") О компании
						a.footer-navigation-mobile__link(href="#") Адреса магазинов
						a.footer-navigation-mobile__link(href="#") Контакты
						a.footer-navigation-mobile__link(href="#") Оплата и доставка
						a.footer-navigation-mobile__link(href="#") Покупателю
					.footer-navigation-desktop.col-10.offset-xl-1.offset-lg-1
						.footer-navigation-desktop__block
							a.footer-navigation-desktop__title(href="#") 
								strong О компании
							a.footer-navigation__link(href="#") О бренде
							a.footer-navigation__link(href="#") Вакансии
							a.footer-navigation__link(href="#") Сотрудничество
							a.footer-navigation__link(href="#") Блог
						.footer-navigation-desktop__block
							a.footer-navigation-desktop__title(href="#")
								strong Покупателю
							a.footer-navigation__link(href="#") Клубная карта
							a.footer-navigation__link(href="#") Подарочная карта
							a.footer-navigation__link(href="#") Хранение и уход
							a.footer-navigation__link(href="#") Конфиденциальность
						.footer-navigation-desktop__block
							a.footer-navigation-desktop__title(href="#") 
								strong Оплата и доставка
							a.footer-navigation__link(href="#") Гарантия
							a.footer-navigation__link(href="#") Условия доставки
						.footer-navigation-desktop__block
							a.footer-navigation-desktop__title(href="#")
								strong Адреса магазинов
						.footer-navigation-desktop__block
							a.footer-navigation-desktop__title(href="#")
								strong Контакты
			.section-ui
				pre.
					ui/footer-navigation.pug