extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - Форма подписки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Подвал - Форма подписки

		.section-ui
			.container
				.footer-subscribe
					.title-4 Выбери цвет своей индивидуальности!
					.footer-subscribe--subtitle Будь в курсе новостей и специальных предложениях!
					form.footer-subscribe--form(action="")
						.footer-subscribe-wrapper
							.input-wrapper
								.input-field--success-icon
								.input-field--error-icon
								input.input-field(type="text")
								span.input-field__label Email
								.input-field__error-text Пожалуйста, введите действительный адрес электронной почты
							.footer-subscribe--buttons
								+button-she("Она", "#")
								+button-he("Он", "#")
						label.footer-subscribe--checkbox-label
							span.footer-subscribe--checkbox-label-focus Email
							+checkbox('Я принимаю политику конфиденциальности.')
		.section-ui
			pre.
				include ../../sections/_footer-subscribe.pug
