extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - Форма подписки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Подвал - Форма подписки

		.section-ui
			.container
				.footer-subscribe
					.title-4 Выбери цвет своей индивидуальности!
					.footer-subscribe--subtitle Будь в курсе новостей и специальных предложениях!
					form.footer-subscribe--form(action="")
						.footer-subscribe-wrapper
							+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
							.footer-subscribe--buttons
								+button-she("Она", "#")
								+button-he("Он", "#")
						.footer-subscribe--checkbox
							+checkbox('Я принимаю политику конфиденциальности.')
		.section-ui
			pre.
				include ../../sections/_footer-subscribe.pug
