extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - общий - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Подвал общий

		.section-ui
			.container
				.footer-navigation
					.footer-navigation-devide
					.footer-navigation--mobile
						span.footer-navigation--item
							a.footer-navigation--link(href="#") О компании
						span.footer-navigation--item
							a.footer-navigation--link(href="#") Адреса магазинов
						span.footer-navigation--item
							a.footer-navigation--link(href="#") Контакты
						span.footer-navigation--item
							a.footer-navigation--link(href="#") Оплата и доставка
						span.footer-navigation--item
							a.footer-navigation--link(href="#") Покупателю
					.footer-navigation--desktop.col-10.offset-xl-1.offset-lg-1
						.footer-navigation--desktop-block
							a.footer-navigation--desktop--title(href="#") 
								strong О компании
							span.footer-navigation--item
								a.footer-navigation--link(href="#") О бренде
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Вакансии
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Сотрудничество
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Блог
						.footer-navigation--desktop-block
							a.footer-navigation--desktop--title(href="#")
								strong Покупателю
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Клубная карта
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Подарочная карта
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Хранение и уход
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Конфиденциальность
						.footer-navigation--desktop-block
							a.footer-navigation--desktop--title(href="#") 
								strong Оплата и доставка
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Гарантия
							span.footer-navigation--item
								a.footer-navigation--link(href="#") Условия доставки
						.footer-navigation--desktop-block
							a.footer-navigation--desktop--title(href="#")
								strong Адреса магазинов
						.footer-navigation--desktop-block
							a.footer-navigation--desktop--title(href="#")
								strong Контакты
				.container
					.row.footer-bottom
						.col-12.col-lg-5.offset-lg-1.col-md-8.offset-md-2
							include ../../sections/_footer-subscribe.pug
						.col-12.col-lg-5
							.social.text-center
								.title-4.social-block__title Мы в социальных сетях
								.social-block
									+social-icon('#', 'instagram.svg','instagram')
									+social-icon('#', 'vk.svg','vk')
									+social-icon('#', 'fb.svg','fb')