extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Элементы формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Элементы формы

		.section-ui
			label.checkbox-label
				+checkbox('Текст lable checkbox')
			pre.
				+checkbox('Текст lable checkbox')
		.section-ui
			label.checkbox-label--small
				+checkboxSmall('Текст lable checkbox фильтры')
			pre.
				+checkboxSmall('Текст lable checkbox фильтры')
