extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Элементы формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Элементы формы
		
		.section-ui
		p Input с текстом
		.input-wrapper
			.input-field--success-icon
			.input-field--error-icon
			input.input-field(type="text")
			span.input-field__label Email
			.input-field__error-text Пожалуйста, введите действительный адрес электронной почты