extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Формы

		.section-ui
			+checkbox('Текст lable checkbox')
			pre.
				+checkbox('Текст lable checkbox')
		.section-ui
			+checkboxFilter('Текст lable checkbox фильтры')
			pre.
				+checkboxFilter('Текст lable checkbox фильтры')
