extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Элементы формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Подвал - Форма подписки

		.section-ui
		title Элементы формы