extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Форма на страницк Контакты
		
		.section-ui
		form.form-contact-page
			.form-contact-page__title Форма обратной связи
			.form-contact-page__input-block
				+inputField('Имя Фамилия*', 'Вы ничего не ввели', 'notEmpty', 'text')
				+inputField('Email*', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
				+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text', 'mb-0').mb-0
				.form-contact-page__textarea-wrapper
					textarea.form-contact-page__textarea(name="message", cols="30", rows="10")
					span.form-contact-page__textarea-label Сообщение*
					.input-field__error-text.input-field__error-text--textarea Введите сообщение
			+button-apply('Отправить', '#')
			.form-contact-page__info
					p Нажимая кнопку "Отправить", вы соглашаетесь с 
						a(href="").form-contact-page__info-link условиями оферты 
						| и 
						a(href="").form-contact-page__info-link политикой конфиденциальности.
		pre.
			form.form-contact-page
			.form-contact-page__title Форма обратной связи
			.form-contact-page__input-block
				+inputField('Имя Фамилия*', 'Вы ничего не ввели', 'notEmpty', 'text')
				+inputField('Email*', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
				+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text', 'mb-0').mb-0
				.form-contact-page__textarea-wrapper
					textarea.form-contact-page__textarea(name="message", cols="30", rows="10")
					span.form-contact-page__textarea-label Сообщение*
					.input-field__error-text.input-field__error-text--textarea Введите сообщение
				.order-one-click__info
					p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
						a(href="").order-one-click__info-link условиями оферты 
						| и 
						a(href="").order-one-click__info-link политикой конфиденциальности.
			+button-apply('Отправить', '#')