extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Формы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Элементы формы
		
		.section-ui
		p Input email с проверкой
		+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
		pre.
			+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text')
		.section-ui
		p Input текстовое с проверкой на заполненность
		+inputField('Введите текст', 'Вы ничего не ввели', 'notEmpty', 'text')
		pre.
			+inputField('Введите текст', 'Вы ничего не ввели', 'notEmpty', 'text')
		.section-ui
		p Input текстовое без проверки
		+inputField('', '', 'notCheck', 'text')
		pre.
			+inputField('', '', 'notCheck', 'text')
		.section-ui
		p Input текстовое для пароля
		+inputField('Введите пароль', 'Вы ничего не ввели', 'pass', 'password')
		pre.
			+inputField('Введите пароль', 'Вы ничего не ввели', 'pass', 'password')


	.title Формы

		.section-ui
			+checkbox('Текст lable checkbox')
			pre.
				+checkbox('Текст lable checkbox')
		.section-ui
			+checkboxFilter('Текст lable checkbox фильтры')
			pre.
				+checkboxFilter('Текст lable checkbox фильтры')
