extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Товары в корзине - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Товары в корзине
		.goods-cart
			+goodsCart ('thumb_blue-purse-1.png', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 893 р.')
			+goodsCart ('thumb_blue-purse-2.png', 'Кошелек большой с двумя молниями', '4 893 р.')
			+goodsCart ('thumb_blue-purse-1.png', 'Портмоне тройного сложения с внешним карманом для монет на молнии, с ручкой', '4 893 р.')