extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Сетка на основе Bootstrap-grid-4
		.title-5 Файл <code>"libs/bootstrap4-grid_customized/custom-grid.css"</code> подключен к основному шаблону
		p Ширина колонок и отступов заданы согласно дизайну.
		p Переопределены точки перелома и ширина контейнеров:
		pre.
			@media (min-width: 360px) {
			  .container {
			    max-width: 100%; } }
			@media (min-width: 784px) {
			  .container {
			    max-width: 100%; } }
			@media (min-width: 1152px) {
			  .container {
			    max-width: 1152px; } }
			@media (min-width: 1440px) {
			  .container {
			    max-width: 1440px; } } 
		p Заданы переменные для медиа-запросов:
		pre.
			@mobile: ~"(min-width: 360px)";
			@tablet: ~"(min-width: 784px)";
			@desktop: ~"(min-width: 1152px)";
			@desktopXL: ~"(min-width: 1440px)";

		p Для написания:
		pre.
			@media @tablet {
			...	
			}
