extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Иконки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Иконки
		
		.product-heart-icon.toggle-heart-icon
			i.fas.fa-heart

		pre.
			.product-heart-icon.toggle-heart-icon
				i.fas.fa-heart