extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Модальное окно "Отклики на вакансию"';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Модальное окно "Отклики на вакансию"
		.modal-window
			.form.order-subscribe(style="border: 1px dashed #000; display:block;" id="order-subscribe")
				.order-subscribe__title Отклики на вакансию
				.order-subscribe__inputs
					+inputField('Фамилия Имя', 'Вы ничего не ввели', 'notEmpty', 'text', '', '')
					+inputField('Email', 'Вы ничего не ввели', 'email', 'email', 'order-subscribe__inputs-item', 'order-subscribe-wrapper')
					+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text', '', '')
					input(type="file" name="choose-file")
					+button-buyclick("Отправить резюме", "#")
					.order-subscribe__info
						p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
							a(href="").order-subscribe__info-link условиями оферты 
							| и 
							a(href="").order-subscribe__info-link политикой конфиденциальности.
				.order-subscribe__close-icon

