extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Модальные окна - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Модальные окна
		.title-5 Скрипт <code>"js/modal-window.js"</code> подключен к основному шаблону
		p Для корректной работы скрипта необходимо задать следующие параметры:
		p 1. Элементу вызова модального окна (кнопки, ссылки, иконки...) задать класс
		pre.
			.show-modal-window
		p 2. Элементу закрытия модального окна (кнопки, ссылки, иконки...) задать класс
		pre.
			.close-modal-window
		p 3. В обоих случаях необходимо задать аттрибут <code>data-modal</code> и указать для него класс или id вызываемого модального окна
		pre.
			.show-modal-window(data-modal='#modal-window-1') Показать модальное окно 1
			.close-modal-window(data-modal='#modal-window-1') Закрыть модальное окно 1

		.section-ui
			.title-5 Разметка для использования модальных окон
			
			pre.
				.bg-modal-window
					.modal-window
						// Модальное окно 1
						// Модальное окно 2
						...
		.section-ui
			.title-5 Блок-обертка <code>.blur-wrapper</code>
			p Блок с модальным окном/окнами лучше вынести в начало страницы, и далее весь остальной контент поместить в блок-обертку <code>.blur-wrapper</code>. Делается это исключительно для корректной работы фильтра <code>filter:blur(4px)</code>, который используется в данном проекте. Фильтр работает только на вложенные в основной блок элементы, т.е. применяется только к детям. <b>Именно поэтому сами модальные окна должны находится за пределами данного блока.</b>

			pre.
				.bg-modal-window
					.modal-window
						// Модальное окно 1
						// Модальное окно 2
						...

				.blur-filter
					// основной контент