extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Форма заказа и подписки';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Форма заказа и подписки
		.section-ui
			.ui-title Форма заказа
			//- a(href="#order-one-click") Заказать в 1 клик
			.form.order-one-click(style="border: 1px dashed #000; display:block;" id="order-one-click")
				.order-one-click__title Оформить заказ в 1 клик
				.order-one-click__subtitle Перезвоним в течение часа (будни с 10:00 до 19:00)
				

				.order-one-click__inputs
					.order-one-click__info
						p Оставьте свой номер телефона и мы перезвоним вам для уточнения деталей заказа!
					+inputField('Имя', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
					+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
					+inputField('Email', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
					+button-buyclick("Оформить заказ", "#")
					.order-one-click__info
						p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
							a(href="").order-one-click__info-link условиями оферты 
							| и 
							a(href="").order-one-click__info-link политикой конфиденциальности.
				.order-one-click__close-icon
		.section-ui
			pre.
				.form.order-one-click(style="border: 1px dashed #000;" id="order-one-click")
					.order-one-click__title Оформить заказ в 1 клик
					.order-one-click__subtitle Перезвоним в течение часа (будни с 10:00 до 19:00)
					.order-one-click__inputs
						+inputField('Имя', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
						+inputField('Телефон', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
						+inputField('Email', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
						.order-one-click__info
							p Оставьте свой номер телефона и мы перезвоним вам для уточнения деталей заказа!
							p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
								a(href="").order-one-click__info-link условиями оферты 
								| и 
								a(href="").order-one-click__info-link политикой конфиденциальности.
						+button-buyclick("Оформить заказ", "#")
					.order-one-click__close-icon
		.section-ui
			.ui-title Форма подписки
			//- a(href="#order-subscribe") Подписаться
			.form.order-subscribe(style="border: 1px dashed #000; display:block;" id="order-subscribe")
				.order-subscribe__title Подписка на товар
				.order-subscribe__inputs
					+inputField('Email', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-subscribe__inputs-item')
					+button-buyclick("Подписаться", "#")
					.order-subscribe__info
						p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
							a(href="").order-subscribe__info-link условиями оферты 
							| и 
							a(href="").order-subscribe__info-link политикой конфиденциальности.
				.order-subscribe__close-icon
			
		.section-ui
			pre.
				.form.order-subscribe(style="border: 1px dashed #000;" id="order-subscribe")
					.order-subscribe__title Подписка на товар
					.order-subscribe__inputs
						+inputField('Email', 'Вы ничего не ввели', 'notEmpty', 'text', 'order-one-click__inputs-item')
						+button-buyclick("Подписаться", "#")
						.order-subscribe__info
							p Нажимая кнопку "Оформить заказ", вы соглашаетесь с 
								a(href="").order-subscribe__info-link условиями оферты 
								| и 
								a(href="").order-subscribe__info-link политикой конфиденциальности.
					.order-subscribe__close-icon