extends ../../layouts/page-layout/page.pug

block variables
	- var title = 'Каталог товаров';
	- var pageClass = 'index-page';

block content
	.blur-wrapper
		//- шапка
		.header
			include ../../sections/header.pug
	include ../../icons/page404.pug
