extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фото товара - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Фото товара
		.row
			.col-md-4.col-lg-7.col-xl-5
				.product-photo__switch-block
					//- !!! Атрибут style удалить при использовании кода!!!
					.switch-block__main-photo(style = "border:1px dashed grey;") 
						img(src="../img/goods/purse_blue/blue-purse-1.jpg" alt="Картинка товара")
					.switch-block__thumbnails.d-flex
						.thumbnails__image(data-img-path = "../img/goods/purse_blue/blue-purse-1.jpg")
							img(src="../img/good_thumbnail/blue-purse/thumb_blue-purse-1.png"  alt="Картикна товара")
						
						.thumbnails__image(data-img-path = "../img/goods/purse_blue/blue-purse-2.jpg")
							img(src="../img/good_thumbnail/blue-purse/thumb_blue-purse-2.png" alt="Картикна товара")
						
						.thumbnails__image(data-img-path = "../img/goods/purse_blue/blue-purse-3.jpg")
							img(src="../img/good_thumbnail/blue-purse/thumb_blue-purse-3.png" alt="Картинка товара")
						
						.thumbnails__image(data-img-path = "../img/goods/purse_blue/blue-purse-4.jpg")
							img(src="../img/good_thumbnail/blue-purse/thumb_blue-purse-4.png" alt="Картикна товара")
					