extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Форма регистрации';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Форма регистрации
		.login.login--reg
			form.login-form
				.login-form-title Регистрация
				.login-form-subtitle
					p.login-form-subtitle__text Вы уже зарегистрированы?						
					a.login-form-subtitle__link(href="#") Войти
				.login-form__form-group
					+inputField('Email', 'Пожалуйста, введите действительный адрес электронной почты', 'email', 'text', '', '')
					+inputField('Пароль', 'Вы ничего не ввели', 'pass', 'password', '', '')
					+inputField('Повторить пароль', 'Вы ничего не ввели', 'pass', 'password', '', '')
					
				+button-apply('Регистрация', '#')
				p.contacts-block-footer.contacts-text-small.contacts-text-small--reg.text-left.
					Нажимая кнопку "Регистрация", вы соглашаетесь с #[a.contacts-link.contacts-link--small(href="#") условиями оферты] и #[a.contacts-link.contacts-link--small(href="#") политикой конфиденциальности.]
			.login-footer
				.login-footer-title.login-footer-title--reg Или зарегистрируйтесь
						br
						| через социальные сети
				.login-footer-content
					a.login-footer-content__item(href="#")
						img(src="../img/social/mail.svg", alt="icon")
					a.login-footer-content__item(href="#")
						img(src="../img/social/yandex.svg", alt="icon")
					a.login-footer-content__item(href="#")
						img(src="../img/social/vk.svg", alt="icon")
					a.login-footer-content__item(href="#")
						img(src="../img/social/fb.svg", alt="icon")

		pre.
			include ../sections/registration-form.pug