extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Хиты продаж';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Хиты продаж
		section.sales-hits
			.title-2.sales-hits__title Хиты продаж
			.sales-hits-wrapper
				