extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточка раздела';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Карточка раздела
		.card-description
			.card-description__title Title
			.card-description__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempora corporis accusamus dolores fugiat consequuntur minima nihil vel  Corporis, error.
			button(type="submit") BUTTON