extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Контакты интернет-магазина';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Контакты интернет-магазина

		section.text-block.text-block--spacing-normal
			.text-block.pl-0.mb-20
				h3.title-3.title-3--grey.text-block__title Контакты интернет-магазина:
				p.text-block__paragrafe.text-block__paragrafe--flex.text-block__paragrafe--special
					span.text-block__paragrafe--phone +7 (800) 222-63-30
					span.text-block__paragrafe--phone +7 (495) 132-62-60
					a(href="#").text-block__paragrafe.text-block__paragrafe--email.text-block__paragrafe--special.d-none.d-md-block online@mywalit.ru
				a(href="#").text-block__paragrafe.text-block__paragrafe--email.text-block__paragrafe--special.d-md-none online@mywalit.ru

			.text-block.pl-0
				p.text-block__paragrafe.text-block__paragrafe--special График работы:
				p.text-block__paragrafe.text-block__paragrafe--special ежедневно, с 09:00 до 20:00
				p.text-block__paragrafe.text-block__paragrafe--special Прием заказов через сайт - круглосуточно
			.text-block.pl-0
				p.text-block__paragrafe.text-block__paragrafe--special Ваши вопросы и пожелания присылайте по адресу:
				a(href="#").text-block__paragrafe.text-block__paragrafe--special.text-block__paragrafe--email  mywalit@mywalit.ru
				p.text-block__paragrafe.text-block__paragrafe--special Отдел маркетинга и рекламы: reklama@mywalit.ru
		section.text-block.text-block--spacing-normal
			.text-block.pl-0
				h3.title-3.title-3--grey.text-block__title Контакты центрального офиса:
				p.text-block__paragrafe.text-block__paragrafe--special Адрес:  Москва, Зорге ул., д. 22А, 13 этаж.

				p.text-block__paragrafe.text-block__paragrafe--flex.text-block__paragrafe--special
					span.text-block__paragrafe--phone +7 (499) 403-13-36
					a(href="#").text-block__paragrafe.text-block__paragrafe--email online@mywalit.ru
			.text-block.pl-0
				p.text-block__paragrafe.text-block__paragrafe--special График работы:
				p.text-block__paragrafe.text-block__paragrafe--special ежедневно, с 09:00 до 20:00
				p.text-block__paragrafe.text-block__paragrafe--special Прием заказов через сайт - круглосуточно
			.text-block.pl-0
				p.text-block__paragrafe.text-block__paragrafe--special.
					По вопросам корпоративных заказов, франчайзинга, сотрудничества с мультибрендовыми магазинами:
				p.text-block__paragrafe.text-block__paragrafe--flex.text-block__paragrafe--special
					span.text-block__paragrafe--phone +7 (499) 403-13-36
					span.text-block__paragrafe--phone +7 (903) 562-91-98
					a(href="#").text-block__paragrafe.text-block__paragrafe--special.text-block__paragrafe--email.d-md-block dealer@mywalit.ru
				a(href="#").text-block__paragrafe.text-block__paragrafe--special.text-block__paragrafe--email.d-none.d-md-none dealer@mywalit.ru
			.text-block.pl-0
				p.text-block__paragrafe.text-block__paragrafe--special Пожелания и предложения присылайте на 
					a(href="#").text-block__paragrafe.text-block__paragrafe--special.text-block__paragrafe--email.d-none.d-xl-inline-block  mywalit@mywalit.ru
				a(href="#").text-block__paragrafe.text-block__paragrafe--special.text-block__paragrafe--email.d-xl-none  mywalit@mywalit.ru