extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточка на странице Shop';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Информационная карточка
		.section-ui
		+shop-card('Центральный офис', 'ул. Зорге, 22А','+7 (495) 132-62-60','Ежедневно с 9.00 до 20.00', '13')
		.section-ui
			pre.
				+shop-card(cardTitile, cardAddress, cardPhone, cardTime, cardstage)
