extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left.user-content
			.section-ui
				.title Типографика
				p Вся типографика и стилизация по тегам работает внутри класса <code>.user-content</code> 
				p Цвета, записанные в переменные
				div(style="display:inline-block;width:30px; height:30px;background-color:#60B6A8") 
				div(style="display:inline-block;width:30px; height:30px;background-color:#58595B")
				br
				br
				pre.
					@title: #60B6A8;
					@text-card: #58595B;
				br
				p Заголовки
				.section-ui
					.title-1 Заголовок 1
					.title-2 Заголовок 2
					.title-3 Заголовок 3
					.title-4 Заголовок 4
					.title-5 Заголовок 5
					.title-6 Заголовок 6
				pre.
					.title-1 Заголовок 1
					.title-2 Заголовок 2
					.title-3 Заголовок 3
					.title-4 Заголовок 4
					.title-5 Заголовок 5
					.title-6 Заголовок 6

				br
				br
				br
				p Текст - абзацы, ссылки в тексте
				.section-ui
					p
						| Парк находится в горах 
						+link('Сьерра-Невада', '#')
						|	 на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. 
					p
						| Центром парка является долина 
						+link('Йосемити', '#')
						| , круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. 
				pre.
					p
						| Парк находится в горах 
						+link('Сьерра-Невада', '#')
						|	 на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. 
					p
						| Центром парка является долина 
						+link('Йосемити', '#')
						| , круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. 
				
				br
				br
				br
				p Список
				.section-ui
					ul
						li Первый пункт
						li
							| Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
						li Третий пункт
				pre.
					ul
						li Первый пункт
						li
							| Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
						li Третий пункт




