extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Социальные сети';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Социальные сети
		.row
			.col-10.offset-1.col-md-6.offset-md-3.col-lg-3
				.social.text-center
					.title-4.social-block__title Мы в социальных сетях
					.social-block
						+social-icon('#', 'instagram.svg','instagram')
						+social-icon('#', 'vk.svg','vk')
						+social-icon('#', 'fb.svg','fb')
						//- .social-block__item
						//- 	img(src="../img/social/instagram.svg", alt="instagram")
						//- .social-block__item
						//- 	img(src="../img/social/vk.svg", alt="instagram")
						//- .social-block__item
						//- 	img(src="../img/social/fb.svg", alt="instagram")