extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		
		.title Система вертикальных отступов
		p Используем 5 уровней согласно дизайну
		pre.
				 Mobile	  Tablet   Desktop  Destop Xl
			Level-1: 8px      16px     16px     24px
			Level-2: 16px     16px     24px     32px
			Level-3: 32px     32px     40px     48px
			Level-4: 56px     56px     64px     72px
			Level-5: 80px     80px     88px     96px

		p Миксин для использования:
		pre .mixin-margin(@margin, @level) // @margin: top/bottom, @level: @l1,@l2,@l3,@l4,@l5
		br
			
		p Для примера блокам через миксин задан нижний отступ 3-уровня <code>.mixin-margin(bottom, @l3)</code>, который автоматически меняется согласно выше определенной сетке
			
		.block
			.block-1 block 1
			.block-2 block 2

